[2021-05-27 20:28] vinaytalasila opened #1 "Test Issue # 1"
Test Issue # 1 Comment

[2021-05-27 20:40] Haqueraz opened #2 "xx"
xxxxx

[2021-05-27 20:40] harishchauhangithub opened #3 "Test issue for Vinay"
This is test issue

[2021-05-27 21:04] Haqueraz opened #4 "Issue-Testing"
Testing email
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please comple

[2021-05-27 21:07] vinaytalasila commented on #1
Resolved

[2021-05-27 21:07] #1 closed

[2021-05-29 15:34] suhas-deshpande opened #5 "Test_issue_Suhas"
**Describe the bug**
Th
[Test_issue.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6564912/Test_issue.txt)

is is test issue

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what yo

[2021-05-29 15:37] suhas-deshpande commented on #5
Can we have update please ?

[2021-06-01 19:26] vinaytalasila opened #6 "Test report issue"
**Describe the bug**
A clear and concise description of what the bug is.
Test Repot

**Responsibility Name**
Responsibility: PBS US Payables User

**Navigation**
Navigation: Requests-> Reports

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2021-06-01 19:30] TinaGriffin commented on #6
TG Test

[2021-06-02 04:14] vinaytalasila opened #7 "WADL is not deployed ***SR 3-26108882831***"
**Describe the bug**
From: Rigo, Linda M <Linda.M.Rigo@snapon.com>
Sent: 27 May 2021 17:04
To: Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>
Cc: Griffin, Tina <Tina.Griffin@snapon.com>; Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Liu, Sherry X <Sherry.X.Liu@snapon.com>
Subject: 12.2.10 Upgrade Issue

Hi Amit and Somu
I have found the

[2021-06-02 12:56] vinaytalasila opened #8 "problem with loading an OAF form - SR 3-26106733871"
**Describe the bug**
From: Rigo, Linda M <Linda.M.Rigo@snapon.com>
Sent: Thursday, May 27, 2021 5:29 PM
To: Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>
Cc: Griffin, Tina <Tina.Griffin@snapon.com>; Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Liu, Sherry X <Sherry.X.Liu@snapon.com>
Subject: 12.2.10 Upgrade Error - Sales User

Hi Amit

[2021-06-02 12:59] vinaytalasila opened #9 "12.2.10 Upgrade Issue for Global Licensing - SR 3-26091295071 : CETA-OCI-N iStore URL error"
**Describe the bug**
Unable to access global Licensing page

**Responsibility Name**
N/A

**Navigation**
https://ebstest2.snaponbusinesssolutions.com/OA_HTML/ibeCZzpHome.jsp

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  - https://ebstest2.snaponbusinesssolutions.com/OA_HTML/ibeCZzpHome.jsp
2. Click on "License Maintenance Form" from drop down
3. See error

**Screenshots**
![image](h

[2021-06-02 13:04] vinaytalasila opened #10 "12.2.10 Upgrade Error - Payables Report - PBS Account Analysis - XML Output not displaying"
**Describe the bug**
Mark has reported this issue. ***Update the content of the issue***

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2021-06-02 13:07] vinaytalasila opened #11 "12.2.10 Upgrade Error - Invoice Print Errored"
**Describe the bug**
From: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>
Sent: 28 May 2021 00:58
To: Surve, Mazhar <Mazhar.Surve@fujitsu.com>; Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>; G09D-FAI_IGDC_Cloud_BAU_WM <G09D-FAI_IGDC_Cloud_BAU_WM@fujitsu.com>
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>; Arsid,

[2021-06-02 13:09] vinaytalasila commented on #11
From: Vishakha.Devare@fujitsu.com <Vishakha.Devare@fujitsu.com>
Sent: Friday, May 28, 2021 2:18 AM
To: Sneha.Mapari@fujitsu.com; Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Mazhar.Surve@fujitsu.com; Amit.Jori@fujitsu.com; Somasundaram.Muthunarayanan@fujitsu.com; G09D-FAI_IGDC_Cloud_BAU_WM@fujitsu.com
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>; Hanmant.Arsid@fujitsu

[2021-06-02 13:10] vinaytalasila commented on #11
From: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>
Sent: Friday, May 28, 2021 7:10 AM
To: Devare, Vishakha <Vishakha.Devare@fujitsu.com>; Mapari, Sneha <Sneha.Mapari@fujitsu.com>; Surve, Mazhar <Mazhar.Surve@fujitsu.com>; Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>; G09D-FAI_IGDC_Cloud_BAU_WM <G09D-FAI_IGDC_Cloud_BAU_WM@fujitsu.com>
C

[2021-06-02 13:10] #11 closed, assigned to vinaytalasila

[2021-06-02 13:19] vinaytalasila opened #12 "12.2.10 Upgrade Error - Customer Master returns no rows"
**Describe the bug**
Mark has reported this issue initially. Sherry has added additional info to this issue.

Amit/Somu
Receivable’s responsibilities not finding any customers.
Here are sample customer numbers:
11422
11445
11470
11481
11494
11514

Tried the following responsibilities for Active, Inactive, All.
Same results – see below – No search conducted.
![image](https://user-images.githubuserc

[2021-06-02 13:22] vinaytalasila commented on #12
From: Suhas.Deshpande@fujitsu.com <Suhas.Deshpande@fujitsu.com>
Sent: Friday, May 28, 2021 3:59 AM
To: Amit.Jori@fujitsu.com; Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Somasundaram.Muthunarayanan@fujitsu.com; Vinay.Talasila@fujitsu.com; Razaul.Haque@fujitsu.com; Ashok.Tholuchuru@fujitsu.com; Akshay.Kumar@fujitsu.com
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>; pri

[2021-06-02 13:23] vinaytalasila commented on #12
From: Suhas.Deshpande@fujitsu.com <Suhas.Deshpande@fujitsu.com>
Sent: Friday, May 28, 2021 12:08 PM
To: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Amit.Jori@fujitsu.com; Somasundaram.Muthunarayanan@fujitsu.com; Vinay.Talasila@fujitsu.com; Razaul.Haque@fujitsu.com; Ashok.Tholuchuru@fujitsu.com; Akshay.Kumar@fujitsu.com
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>; pr

[2021-06-02 13:24] vinaytalasila commented on #12
From: Hamilton, Mark W
Sent: Friday, May 28, 2021 12:29 PM
To: Suhas.Deshpande@fujitsu.com; Amit.Jori@fujitsu.com; Somasundaram.Muthunarayanan@fujitsu.com; Vinay.Talasila@fujitsu.com; Razaul.Haque@fujitsu.com; Ashok.Tholuchuru@fujitsu.com; Akshay.Kumar@fujitsu.com
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>; priyesh.malvankar@fujitsu.com; Hanmant.Arsid@fujitsu.com
Subj

[2021-06-02 13:26] vinaytalasila commented on #12
From: Liu, Sherry X <Sherry.X.Liu@snapon.com>
Sent: Tuesday, June 1, 2021 1:33 PM
To: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Deshpande, Suhas <Suhas.Deshpande@fujitsu.com>; Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>; Talasila, Vinay <Vinay.Talasila@fujitsu.com>; Haque, Razaul <Razaul.Haque@fujitsu.com>; Tholuchuru, Ashok <Asho

[2021-06-02 14:24] lindamrigo opened #13 "Searches not working for Sales & Territory Manager ***SR 3-26108359301***"
No customers returned for  all Sales and Territory Manager searches

[2021-06-02 14:33] lindamrigo commented on #7
This is still not working.
![SBS_CPQ_QUOTE_PKG](https://user-images.githubusercontent.com/85238444/120499255-e84b8300-c38d-11eb-904d-a47725ef7108.JPG)

[2021-06-02 15:38] lindamrigo opened #14 "http://172.22.144.141:8181/ords/ & http://ssbsashebsap3.oci.snapbs.com:8181/ords not working"
http://172.22.144.141:8181/ords/ & http://ssbsashebsap3.oci.snapbs.com:8181/ords not working

receiving error
Unable to connect

Firefox can’t establish a connection to the server at ssbsashebsap3.oci.snapbs.com:8181.

    The site could be temporarily unavailable or too busy. Try again in a few moments.
    If you are unable to load any pages, check your computer’s network connection.
    If your

[2021-06-02 16:01] amitjori commented on #14
Hi Linda,

Apex tomcat services were down , I have re-started the services. Can you please now and confirm?

Regards,
Amit

[2021-06-02 16:02] amitjori commented on #14
Hi Linda,

Apex tomcat services were down , I have re-started the services. Can you please now and confirm?

Regards,
Amit

[2021-06-02 16:07] lindamrigo commented on #14
HI Amit
It is now working.  Why were the services down?

Thanks
Linda

From: amitjori ***@***.***>
Sent: Wednesday, June 2, 2021 12:03 PM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Rigo, Linda M ***@***.***>; Author ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] http://172.22.144.141:8181/ords/ & http://ssbsashebsap3.oci.snapbs.com:8181/ords not working (#14)

CAUTION:

[2021-06-02 16:20] SherryXLiu commented on #13
[R12-2 ISSUES STG_SL.xlsx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6586080/R12-2.ISSUES.STG_SL.xlsx)
@Haqueraz @suhas-deshpande

[2021-06-02 16:21] SherryXLiu commented on #13
Please review my issue list and give me feedback

[2021-06-02 17:09] hamiltonmark opened #15 "12.2.10 Upgrade - Testing Conc Job - SBS CPQ File Extract Interface Inventory Items - is Failing"
**Describe the bug**
Testing Conc Job - SBS CPQ File Extract Interface Inventory Items - is Failing

See uploaded Screenshots

**Responsibility Name**
Responsibility:  PBS Troubleshooter

**Navigation**
Navigation:  Submit Request > SBS CPQ File Extract Interface Inventory Items

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2021-06-02 17:10] hamiltonmark commented on #15
[STG Testing CPQ Interface Items.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6586356/STG.Testing.CPQ.Interface.Items.docx)

[2021-06-02 18:22] vinaytalasila commented on #15
Mark,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-02 18:24] hamiltonmark commented on #15
Thanks Vinay
There are 3 jobs failing with the same issue:

SBS CPQ File Extract Interface Inventory Items
SBS CPQ File Extract Interface BOMs
SBS CPQ File Extract Interface Price List

[2021-06-02 18:26] #12 closed, assigned to Haqueraz, suhas-deshpande, hamiltonmark

[2021-06-02 18:26] vinaytalasila commented on #12
Mark,

As we are handling Sherry's customer access(query) issue in Sales User responsibility in another issue (Issue #13 ), I am 'Closing' this issue.

Thanks
Vinay Talasila

[2021-06-02 18:53] vinaytalasila opened #16 "12.2.10 STG Issue with IB *** SR 3-26258040451 ***"
**Describe the bug**
Attached are the screenshots for the Install Base Search not showing (above the warning).  This is happening in 12.1.3 INT, 12.1.3 PreProd, 12.2.10 STG but not happening in 12.1.3 Prod.

PBS US View Only Contracts and Install Base Responsibility
(it is working fine in the seeded Install Base responsibility called “Oracle Installed Base User”
[Document3.docx](https://github.com

[2021-06-02 18:59] lindamrigo opened #17 "Default System Timeouts In Use"
The default system timeouts are currently set and need to be corrected to:
ICX:Session Timeout is set to 240
JTF_INACTIVE_SESSION_TIMEOUT is set to 720000

[2021-06-02 19:01] vinaytalasila opened #18 "Canadian contract form issue - DEVELOPER ERROR: Cannot find menu item: special11 ***SR 3-26116952241***"
**Describe the bug**
From: Griffin, Tina <Tina.Griffin@snapon.com>
Sent: Wednesday, May 26, 2021 11:05 PM
To: Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>; Malvankar, Priyesh <priyesh.malvankar@fujitsu.com>; Arsid, Hanmant <Hanmant.Arsid@fujitsu.com>
Cc: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Liu, Sherry X <Sherry.X.Liu@snapon.c

[2021-06-02 19:10] vinaytalasila opened #19 "STG 12.2.10 IB Issue from the Service Request Form"
**Describe the bug**
Here is the error when trying to add an Install Base Instance on a Service Request in the PBS Automotive Customer Support Responsibility.  This only seems to occur on existing Service Requests and does not throw the error if you create a new service request.

**Instance Name**
Instance: STG 12.2.10

**Responsibility Name**
Responsibility: PBS Automotive Customer Support

**Nav

[2021-06-02 19:14] vinaytalasila opened #20 "12.2.10 Upgrade Error - ADV COLLECTIONS INVOICE DELIVERY FAILED"
**Describe the bug**
From: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>
Sent: Thursday, May 27, 2021 6:27 PM
To: Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>
Subject: 12.2.10 Upgrade Error - ADV COLLECITONS INVOICE DELIVERY FAILED

Attempted to deliver invoice via

[2021-06-02 19:19] vinaytalasila commented on #20
From: Jori, Amit <Amit.Jori@fujitsu.com>
Sent: Thursday, May 27, 2021 7:39 PM
To: Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>; G09D-FAI_IGDC_Cloud_BAU_WM <G09D-FAI_IGDC_Cloud_BAU_WM@fujitsu.com>
Cc: SBS IS Oracle Apps Developers <SBSISOracleAppsDevelopers@snapon.com>; Arsid, Hanmant <Hanmant.Arsid@fujitsu.com>; Malvankar, Pr

[2021-06-02 21:00] vinaytalasila commented on #10
Mark,

Ashok has fixed this issue (he reattached the template) in STG 12.2.10 and tested this successfully. Request ID related to his testing is 35388112
**PBS Account Analysis Report**.

Attached output file of his test:
[PBS_Account_Analysis_Report_010621.pdf](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6587393/PBS_Account_Analysis_Report_010621.pdf)

Could you please retest 'PBS

[2021-06-02 21:14] hamiltonmark commented on #10
Thank You Ashok
Yes - I re-ran the PBS Account Analysis Report in STG.
I was able to view the pdf output.
Screenshot with timestamp...

![image](https://user-images.githubusercontent.com/85197361/120552869-c8d04c80-c3c5-11eb-9587-2f938450bc2c.png)

[2021-06-02 21:15] vinaytalasila commented on #10
Thank you for your update Mark!!! I am 'Closing' this issue now.

Thanks
Vinay Talasila

[2021-06-02 21:15] #10 closed, assigned to ashoksnapfj, hamiltonmark

[2021-06-03 05:35] amitjori commented on #17
Hi Linda,

Session time out parameters are changed both in 12.2.10 INT and STG. Please confirm if we are good to close this issue.

[2021-06-03 09:58] suhas-deshpande commented on #18
Issue is fixed in INT, by adding Form personalization for this responsibility.

[2021-06-03 10:58] amitjori opened #21 "Apex from EBS not working"
**Describe the bug**
Unable to access Apex from EBS

**Instance Name**
TPQS2I

**Responsibility Name*
SBS Sales Snapshot

[2021-06-03 11:00] amitjori opened #22 "Apex and global licensing url not working with hostname"
**Describe the bug**
Apex and global licensing url not working with hostname

**Instance Name**
TPQS2I

**Responsibility Name**
N/A:

[2021-06-03 11:02] lindamrigo commented on #17
Hi Amit
I am getting

***@***.***D75846.5FAC2070]

Will log issue

From: amitjori ***@***.***>
Sent: Thursday, June 3, 2021 1:36 AM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Rigo, Linda M ***@***.***>; Author ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] Default System Timeouts In Use (#17)

CAUTION: This email originated from outside of Snap-on. Do not click on link

[2021-06-03 11:06] lindamrigo opened #23 "502 Bad Gateway for TPQS2I ***SR 3-26106308971***"
502 Bad Gateway for TPQS2I
![Bad Gateway](https://user-images.githubusercontent.com/85238444/120635187-2f8f4d80-c43a-11eb-83b2-e60200e9c212.JPG)

[2021-06-03 14:14] lindamrigo commented on #23
The site is now up and working.

[2021-06-03 14:14] lindamrigo commented on #21
This now working

[2021-06-03 14:14] #21 closed, assigned to lindamrigo, SomuSundaramM, amitjori

[2021-06-03 14:18] lindamrigo commented on #17
Session timeouts have been corrected

[2021-06-03 14:18] #17 closed, assigned to SomuSundaramM, amitjori

[2021-06-03 14:23] suhas-deshpande commented on #7
@SomuSundaramM : Can you please try to deploy standard package - ASO_QUOTE_PUB. As we checked earlier, it seems to have 2 duplicate procedures. If you still get any error with that, please raise SR with Oracle as we can see that these 2 packages (custom and standard) are valid in Oracle DB.

[2021-06-03 14:23] lindamrigo commented on #8
This is still a problem
Responsibility > PBS US Automotive Customer Support>Service Snapshot

[2021-06-03 14:24] lindamrigo commented on #14
Services are up and working

[2021-06-03 14:24] #14 closed, assigned to SomuSundaramM, amitjori

[2021-06-03 14:42] lindamrigo commented on #9
iStore setups are the same in both 12.1.3 dpqs2i and 12.2.10 tpqs2i
![tpqs2i istore profiles](https://user-images.githubusercontent.com/85238444/120663785-55c3e600-c458-11eb-92cc-afb3c7b9617e.JPG)
![dpqs2i istore setups](https://user-images.githubusercontent.com/85238444/120663793-578da980-c458-11eb-8439-fabc382c17df.JPG)

[2021-06-03 14:53] SherryXLiu commented on #13
@Haqueraz Do you still plan to meet at 11am to review the issue list?

[2021-06-03 16:07] vinaytalasila commented on #15
@amitjori : As per our today's meeting, could you please update this issue with reference to the directories.

[2021-06-03 16:15] hamiltonmark commented on #15
Re-tested ... same error....
SBS_CPQ_INV_INF_CONC_SH: SBS CPQ File Extract Interface Inventory Items
+---------------------------------------------------------------------------+

Current system time is 03-JUN-2021 12:12:45

+---------------------------------------------------------------------------+

1. OOD: PINGING SBS SERVER to check if host is alive.
1. RESULT: PING SBS INTERNAL - SUCCESSFUL.

[2021-06-03 17:18] hamiltonmark commented on #15
Amit
You probably already know this but....
I believe this is the issue..... Program is trying to copy from $APPLCSF/tmp
but /tmp does not exist under $APPLCSF

[aptpqs2i@ssbsashebsap3 bin]$ cd $APPLCSF/tmp
bash: cd: /tpqs2i/12.2/STG/fs_ne/inst/TPQS2I_ssbsashebsap3/logs/appl/conc/tmp: No such file or directory

[aptpqs2i@ssbsashebsap3 bin]$ cd $APPLCSF
[aptpqs2i@ssbsashebsap3 conc]$ pwd
/tpqs2i/12

[2021-06-03 22:33] Haqueraz commented on #19
This Issue has been fixed in both Instance INT &STG
We prepared the data fixed to update business process .

Please verify the same and let us know if you have any question.

[2021-06-03 22:45] Haqueraz commented on #13
We are able to search in sales manager and others responsibilities as per the above excel sheet except the responsibility 'Territory Management' .
Please refer the attached doc to see the search data.
[sales manager search.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6594708/sales.manager.search.docx)

[2021-06-04 05:27] amitjori commented on #23
Checking with Oracle for root cause

[2021-06-04 05:27] amitjori commented on #22
Issue resolved after updating OCI DNS with new hostname

[2021-06-04 05:27] #22 closed, assigned to lindamrigo, SomuSundaramM, amitjori

[2021-06-04 09:01] amitjori commented on #9
From: Rigo, Linda M <Linda.M.Rigo@snapon.com>
Sent: Thursday, May 27, 2021 6:11 PM
To: Jori, Amit <Amit.Jori@fujitsu.com>; Muthunarayanan, Somasundaram <Somasundaram.Muthunarayanan@fujitsu.com>
Cc: Griffin, Tina <Tina.Griffin@snapon.com>; Hamilton, Mark W <Mark.W.Hamilton@snapon.com>; Liu, Sherry X <Sherry.X.Liu@snapon.com>
Subject: 12.2.10 Upgrade Issue for Global Licensing

Hi Amit and Somu
When

[2021-06-04 09:14] amitjori commented on #15
Hello Mark,

Can you please test this now. We have updated the APPLCSF/tmp value in STG 12.2.10.

[aptpqs2i@ssbsashebsap3 ~]$ cd $APPLCSF/tmp
[aptpqs2i@ssbsashebsap3 tmp]$ pwd
/tpqs2i/applcsf/tmp

Regards,
Amit

[2021-06-04 12:02] hamiltonmark commented on #15
Thanks Amit
$APPLCSF/tmp now exists so job ran successfully.
Parts.csv file was created there and shell script was able to access and copy file to SBS Server and then
onto CPQ Server for interfacing.
Below is the log file showing success.
Thanks!
Mark

[aptpqs2i@ssbsashebsap3 tmp]$ hostname
ssbsashebsap3
[aptpqs2i@ssbsashebsap3 tmp]$ cd $APPLCSF/tmp
[aptpqs2i@ssbsashebsap3 tmp]$ pwd
/tpqs2i/applcs

[2021-06-04 12:03] hamiltonmark commented on #15
This ticket can be closed.

[2021-06-04 12:13] hamiltonmark opened #24 "12.2.10 Upgrade - SBS CPQ File Extract Interface Price List - is failing - cannot find table qp_list_headers_all_b"
**Describe the bug**
SBS CPQ File Extract Interface Price List - is failing

**Instance Name**
Instance: tpqs2i

**Responsibility Name**
Responsibility:  PBS TROUBLESHOOTER

**Navigation**
Navigation:  Submit Job - SBS CPQ File Extract Interface Price List

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior

[2021-06-04 12:15] hamiltonmark commented on #24
select *
from  qp_list_headers_all_b

Returns - no table found... but...

select *
from  apps.qp_list_headers_all_b

Returns successfully.

PACKAGE PBS.sbs_cpq_prclst_pkg is in error because of this issue.

[2021-06-04 12:17] TinaGriffin commented on #19
I've retested this in STG.  The issue is resolved and can now be closed.
Thank you.
Please provide a high level of what the fix was before closing the issue.

[2021-06-04 12:34] hamiltonmark commented on #15
Thanks Amit

1.       I tested - SBS CPQ File Extract Interface Inventory Items.
$APPLCSF value was added and job is successful now.
I added comment to close in the ticket.

2.       The next job to test after this one is - SBS CPQ File Extract Interface BOMS.
It ran successfully

3.       The next job to test after this one is - SBS CPQ File Extract Interface Price Lists.
I opened another ticket

[2021-06-04 12:35] vinaytalasila commented on #24
Mark,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-04 12:36] lindamrigo commented on #8
I have found that there is a patch available for 12.2.10 for OAF 10g. However, even with the patch, there is a possibility that the forms will not work due to the jdk version that is being run (jdk 8) .  The issues with jdk 8 and the patch below have already been logged with Oracle from other people's upgrade experiences.  We can apply the patch and see if that works, but as the important snapshot

[2021-06-04 12:39] #15 closed, assigned to vinaytalasila, ashoksnapfj, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-04 12:44] SherryXLiu opened #25 "Sales User Search Error"
**Describe the bug**
Sales User > Search > Error

![image](https://user-images.githubusercontent.com/85246030/120803048-21603080-c511-11eb-8230-867107352719.png)

**Instance Name**
Instance: TPQS21

**Responsibility Name**
Responsibility:
![image](https://user-images.githubusercontent.com/85246030/120803048-21603080-c511-11eb-8230-867107352719.png)
**Navigation**
Navigation:
above
**To Reproduce**

[2021-06-04 12:54] amitjori commented on #20
Hello Mark,

Can you please test this issue one more time and confirm?

Regards,
Amit

[2021-06-04 12:57] vinaytalasila commented on #25
Sherry,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-04 12:59] Haqueraz commented on #19
I have attached the update scripts.
[PBS_UPD_CS_INCIDENTS_ALL_B.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6598633/PBS_UPD_CS_INCIDENTS_ALL_B.txt)

[2021-06-04 13:02] #19 closed, assigned to ashoksnapfj, Haqueraz, TinaGriffin

[2021-06-04 13:03] hamiltonmark commented on #20
Using Firefox – Failed
IEXXmlDelivery [Jun-04-2021 08:57:21]: submitting request...
DEBUG: setDebug: JavaMail version 1.5.4
DEBUG: getProvider() returning javax.mail.Provider[TRANSPORT,smtp,com.sun.mail.smtp.SMTPTransport,Oracle]
DEBUG SMTP: useEhlo true, useAuth false
DEBUG SMTP: trying to connect to host "172.22.144.141", port 25, isSSL false
IEXXmlDelivery [Jun-04-2021 08:57:21]: Failed to comp

[2021-06-04 13:12] TinaGriffin opened #26 "STG Service Request / Task / Task Template is not opening."
**Describe the bug**
When creating a Service Request, you can click on the Task tab and create tasks using already pre-filled out templates for tasks you enter repetitively.  This task template button is not opening for me in Firefox.  I did notice that the field on the task tab, Corporate Time Zone now looks like a required field.  I don't believe it was in 12.1.3 and/or we had a default to defau

[2021-06-04 13:26] suhas-deshpande commented on #25
Hi Sherry,

Can you please check now? Please logout and login again into applications.

Thanks,
Suhas

[2021-06-04 13:26] vinaytalasila commented on #26
Tina,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-04 13:48] vinaytalasila commented on #25
Resource Name was changed and now it is working.

[2021-06-04 13:48] #25 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande

[2021-06-04 14:31] SherryXLiu commented on #13
Issue 11. TAC Customer search is OK

[2021-06-04 14:32] SherryXLiu commented on #13
Issue 11. TCA Customer search is OK

[2021-06-04 14:47] SherryXLiu commented on #13
Issue 10, is not change yet. PBS US Customer Inquiry should not include Canadian Customer
![image](https://user-images.githubusercontent.com/85246030/120820066-35605e00-c522-11eb-9c49-3d7e525f3e6e.png)

[2021-06-04 15:05] suhas-deshpande commented on #24
Hi Mark,

This has been fixed in STG. Kindly check and let us know if any issues.

Thanks,
Suhas.

[2021-06-04 16:38] hamiltonmark commented on #24
Thank you Suhas.
SBS CPQ File Extract Interface Price List working successfully.
Below is the log ....

+---------------------------------------------------------------------------+
Business Online: Version : 12.2

Copyright (c) 1998, 2013, Oracle and/or its affiliates. All rights reserved.

SBS_CPQ_PRICELST_INF_CONC_SH: SBS CPQ File Extract Interface Price List
+----------------------------------

[2021-06-04 16:39] hamiltonmark commented on #24
SBS CPQ File Extract Interface Price List working successfully.
This ticket can be closed.

[2021-06-04 17:36] vinaytalasila commented on #24
Mark, Thank you for your confirmation.

[2021-06-04 17:36] #24 closed, assigned to vinaytalasila, ashoksnapfj, suhas-deshpande, TinaGriffin

[2021-06-04 19:38] vinaytalasila opened #27 "Unable to create or update an employee manually ***SR 3-26011488991***"
**Describe the bug**
Unable to create or update an employee manually.

**Instance Name**
Instance: STG 12.2.10 and INT 12.2.10

**Responsibility Name**
Responsibility: PBS US Purchasing Super User

**Navigation**
Navigation: Setup->Personnel->Employees

**Expected behavior**
Users should able to create or update an employee

**Screenshots**
[Employee creation issue.docx](https://github.com/Fujitsu

[2021-06-04 19:40] vinaytalasila commented on #27
Mark,

This issue has been fixed in INT 12.2.10. Please find attached 'Employee creation issue.docx' file for the details and the test results. Could you please test this issue in STG 12.2.10 and confirm the results so that I can close this issue.

Thanks
Vinay Talasila

[2021-06-04 19:56] hamiltonmark commented on #27
Vinay
In 12.2 STG - Tested:
1.  Creating New Employee - Successful
2. Maintain Existing Employee - Successful

See screenshots below.
Thanks
Mark

[Screenshots Entering and Maintain Employees in HR Foundation.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6600958/Screenshots.Entering.and.Maintain.Employees.in.HR.Foundation.docx)

[2021-06-04 19:57] hamiltonmark commented on #27
Vinay
This ticket can be closed.
Thanks
Mark

[2021-06-04 19:58] vinaytalasila commented on #27
Mark, Thank you for testing this so quickly. I am closing this ticket now.

[2021-06-04 19:58] #27 closed, assigned to vinaytalasila, hamiltonmark

[2021-06-04 20:05] TinaGriffin opened #28 "Sales Recap and TMP"
**Describe the bug**
In HTML Quoting, in order to process a quote we have two custom links called "Sales Recap" and "TMP".  These buttons are not opening their appropriate forms and without them we cannot enter quotes as they are a huge part of our business.

**Instance Name**
Instance: TPQS2I

**Responsibility Name**
Responsibility: PBS US Contract Administrator (or PBS CAN Contract Administrator

[2021-06-04 20:24] vinaytalasila commented on #26
[Chrome.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6601064/Chrome.docx)

Tina,

In the Chrome browser, I have reproduced this issue in STG 12.2.10 and I am able to click on 'Use Template' and I got the pop-up successfully. Attached 'Chrome.docx' for the screenshot.

I am facing frmservlet issue using Firefox so I am unable to test it in that browser.

I am thinking that the

[2021-06-04 20:36] TinaGriffin commented on #26
Hi Vinay, I normally use Firefox for Oracle.  I just retested...it doesn't open in Firefox.

[2021-06-04 20:37] vinaytalasila commented on #28
Tina,

I reproduced this issue in Chrome browser and I am getting the below error. We will work on this on Monday and keep you posted.

![image](https://user-images.githubusercontent.com/84878630/120859870-72404b00-c54a-11eb-9c81-05fa191a82a9.png)

@amitjori @SomuSundaramM : Could you please check whether any services are down in STG 12.2.10 or any instance bounce is required for this issue.

Than

[2021-06-04 20:39] vinaytalasila commented on #26
Tina,

Thank you for your quick test. We will work on this on Monday using Firefox browser and keep you posted.

Thanks
Vinay Talasila

[2021-06-06 16:09] amitjori commented on #23
Below is the reply fro Oracle on root cause analysis

 Hello Amit,I'm following up on my request yesterday, added here again. I could find no known issues or changes that were done on the Oracle side, but it's possible that the following occurred when the backendset was updated. Updating backendsets will reload the configuration and cause active connections to be interrupted, at which point client

[2021-06-06 16:09] #23 closed, assigned to amitjori

[2021-06-07 09:57] ashoksnapfj commented on #26
Hi Tina,

I have reproduced this issue in STG 12.2.10 and I am able to click on 'Use Template' and I got the pop-up successfully using Firefox. Please check once.

Thanks
Ashok.T

[2021-06-07 13:27] ashoksnapfj commented on #26
Hi Tina,

After entering the mandatory fields in Tasks tab, it is popup the template window as attached the file (2350802_STG.docx).

Thanks ,
Ashok.T

[2021-06-07 13:29] ashoksnapfj commented on #26
[2350802_STG.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6609291/2350802_STG.docx)

[2021-06-07 13:46] SherryXLiu commented on #13
Issue 8; Sales Manager > Shortcut>Customer is now OK

[2021-06-07 13:55] SherryXLiu commented on #13
Issue 10: PBS User Customer Inquiry is OK. Canadian Customer details is blacked

[2021-06-07 13:59] SherryXLiu commented on #13
Issue 7: Sales Manager>Short cut>Contact is OK

[2021-06-07 14:09] lindamrigo opened #29 "Sales Dashboard is not loading"
Sales Dashboard is a standard HTML form
as
![Sales Dashboard Error](https://user-images.githubusercontent.com/85238444/121031370-46a2a800-c778-11eb-8dc5-9ba0bdd22b92.JPG)
 Sales User
sales user>customers>simple search>enter 00926>Go>Click on Guaranty Chevrolet>
Should be
![Sales Dashboard in INT 12 1 3](https://user-images.githubusercontent.com/85238444/121031407-4efae300-c778-11eb-81ca-7ff9c4c51d

[2021-06-07 14:11] SherryXLiu commented on #13
Issue 5 Sales Manager> Lead>Recent Opportunity link is OK

[2021-06-07 14:14] SherryXLiu commented on #13
All issues in the attached list are fixed, except customer Link error in Lead and Opportunity which you said the solution is waiting for DBA

[2021-06-07 14:15] SherryXLiu commented on #13
And The Issues in TM modules are waiting for SR

<meta name="ProgId" content="Excel.Sheet">
<meta name="Generator" content="Microsoft Excel 15">
<link id="Main-File" rel="Main-File" href="file:///C:\Users\lius\AppData\Local\Temp\msohtmlclip1\01\clip.htm">
<link rel="File-List" href="file:///C:\Users\lius\AppData\Local\Temp\msohtmlclip1\01\clip_filelist.xml">
<style>

</style>

1 | TM | Territory

[2021-06-07 14:24] TinaGriffin opened #30 "STG Configurator Concurrent Program error"
**Describe the bug**
The first step to use when working with the Oracle Configurator is to run the concurrent program to load new BOM items into the configurator.  This program is erroring with $SRS$ error.

**Instance Name**
Instance: TPQSTI

**Responsibility Name**
Responsibility: Oracle Configurator Administrator

**Navigation**
Navigation: Oracle Configurator Administrator / Concurrent Program

[2021-06-07 14:29] lindamrigo opened #31 "SOA Undeploy/Deploy Failed"
Attempted to undeploy/deploy existing deployed SOA package and it failed.
![SOA Undeploy Deploy Error](https://user-images.githubusercontent.com/85238444/121034552-17416a80-c77b-11eb-929a-55369bc30b8e.JPG)

[2021-06-07 14:34] SomuSundaramM commented on #31
Hi Linda,

Please select all the check boxes under service operations(for eg . Return Snapshot information) while deploying, it will work.

Thanks,
Somu

[2021-06-07 14:52] lindamrigo commented on #31
It is working

[2021-06-07 14:52] #31 closed, assigned to SomuSundaramM, amitjori

[2021-06-07 14:58] SherryXLiu opened #32 "Create a new contact, Address should be not required"
**Describe the bug**
When create a contact, his/she address is be not required

**Instance Name**
Instance:
TPQS2I
**Responsibility Name**
Responsibility:
Trading Community Manager (or PBS US/CA Customer Maintenance)
**Navigation**
Navigation:
Trading Community Manager > Customer > Standard>Account Details > Communication>create contact
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.

[2021-06-07 15:13] vinaytalasila commented on #29
Linda,

We will look into this and keep you posted.

@Haqueraz @suhas-deshpande : Could you please check whether you are also getting the same issue in STG 12.2.10 instance. If yes, then we will work with Amit (and DBA team).

Thanks
Vinay Talasila

[2021-06-07 15:15] vinaytalasila commented on #30
Tina,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-07 15:18] vinaytalasila commented on #32
Sherry,

It look like 'Address Line 1' is a mandatory field now in 12.2.10. Anyway, we will look into this and keep you posted.

@Haqueraz @suhas-deshpande: Could you please look into this.

Thanks
Vinay Talasila

[2021-06-07 16:03] hamiltonmark commented on #20
Amit – Good News!

Adv Collections Invoice Delivery now working successfully using:
1.  Firefox
2.  Chrome
3.  Edge

Can you please post the fix in the ticket?

Thanks
Mark

![image](https://user-images.githubusercontent.com/85197361/121052265-35fa2e00-c788-11eb-81be-76445f3cae1e.png)

[2021-06-07 16:05] vinaytalasila commented on #7
@amitjori : As per our today's status call could you please check whether this can be fixed by deleting from SOA and deploy it again or undeploy and deploy it again.

[2021-06-07 16:07] vinaytalasila commented on #8
Just an update... @amitjori will check the patch that was mentioned by Linda in the above comments and update us.

[2021-06-07 17:01] lindamrigo commented on #7
The issues is the same

***@***.***D75B9D.41DA2F10]

From: vinaytalasila ***@***.***>
Sent: Monday, June 7, 2021 12:06 PM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Rigo, Linda M ***@***.***>; State change ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] WADL is not deployed ***SR 3-26108882831*** (#7)

CAUTION: This email originated from outside of Snap-on. Do not click

[2021-06-07 17:12] vinaytalasila commented on #13
Sherry,

Thank you for your testing.

We will keep you posted when we get an update from Oracle's SR regarding # 1, 2 and 3.

Thanks
Vinay Talasila

[2021-06-07 17:16] SherryXLiu commented on #32
Yes. I see “*”. But in current version ( also has “*”), it allow the address fields blank. SBS User don’t put a contact address.

[2021-06-07 17:30] TinaGriffin commented on #30
Did you all fix this?  I was just testing something else in the Configurator and thought I'd try this again while I was in there and it worked and the program completed successfully without error.

[2021-06-07 17:36] vinaytalasila commented on #30
Tina,

I did not work on this yet from my end. DBA team might have worked on some other issue and this might have fixed.

As this is working now can we close this issue?

Thanks
Vinay Talasila

[2021-06-07 17:38] TinaGriffin commented on #30
Yes, but can you check first to see if anyone changed anything that might have addressed it, otherwise, if it happens in another instance we won't know what the fix is.  Once you check with them...we can close it.

[2021-06-07 18:35] TinaGriffin commented on #7
I'm not sure if this will help....but I found the old SR where we had SOA issues before.  It may help for reference.  It was SR 3-17957049521 : SOA Deployment issues after refresh

[2021-06-07 18:40] vinaytalasila commented on #7
Tina,

Thank you for sharing the information. @amitjori will look into that SR and we may have an update on this during our tomorrow's status meeting.

Thanks
Vinay Talasila

[2021-06-07 20:04] TinaGriffin opened #33 "STG When Manually trying to create a task in a Service Request an error occurs *** SR 3-26150947721"
**Describe the bug**
After entering or re-opening a service request, you should be able to manually add a task or use the task template.  I already have an open issue for the task template, however, I tried manually creating a task and it does not work either.  It threw an error.

**Instance Name**
Instance: TPQS2I

**Responsibility Name**
Responsibility: PBS Automotive Customer Support

**Navigat

[2021-06-07 20:08] TinaGriffin commented on #33
In comparing this to 12.1.3 INT (using SR 2332368) I also noticed that it appears some default profiles are not set in 12.2.10 that are set in 12.1.3  In particular, in 12.1.3 the Corporate Time Zone and Eastern Time Zone default in as well as the Planned Start and End Date default in.  Also in 12.1.3 Buttons at the bottom for Debrief, Skills, Access Hours and Workflow are greyed out.  I remember

[2021-06-07 21:33] vinaytalasila commented on #33
@ashoksnapfj : Could you please look into this and update the ticket.

Thanks
Vinay Talasila

[2021-06-07 21:42] vinaytalasila commented on #28
Just an update...OAF forms personalizations in the path /oracle/apps/pbs/quote/header/webui/XXSalesRecapPG are missing in STG 12.2.10 instance. DBA Team will bring over all the personalizations in that path from 12.1.3 instance to STG 12.2.10. After that we will retest the issue and keep you posted.

Thanks
Vinay Talasila

[2021-06-08 07:50] amitjori commented on #28
Hi Team,

pbs folder copied from SOURCE (Prod) to STG and INT 12.2.10 instance under $JAVA_TOP/oracle/apps

Custdocs folder created on source.

INT and STG application services restarted.

[apppqs1i@sbsashpebsap1 tmp]$ hostname -f
sbsashpebsap1.oci.snapbs.com
[apppqs1i@sbsashpebsap1 tmp]$ cd custdocs/
[apppqs1i@sbsashpebsap1 custdocs]$ pwd
/tmp/custdocs

Regards,
Amit

[2021-06-08 12:17] hamiltonmark commented on #20
Per email from Amit...
simple fix ,we had to change few parameters in file /etc/postfix/main.cf (postfix file configuration).

This ticket can be closed.

[2021-06-08 12:44] suhas-deshpande commented on #29
@amitjori - We are having same error in STG also. Could you please check this as well? Let me know when can we discuss this on call.

[2021-06-08 15:00] SherryXLiu commented on #13
Since the main problems are fixed, you may change this ticket type as Medium. Thanks

[2021-06-08 15:46] amitjori commented on #20
changed inet_interfaces parameters in file /etc/postfix/main.cf (postfix file configuration) to all , also uncommented it as it was hashed out

[2021-06-08 20:12] TinaGriffin opened #34 "Service Contracts Submit for Approval is greyed out"
**Describe the bug**
In order to progress a Service Contract, you have to Submit it for Approval.  This Action is greyed out.

**Instance Name**
Instance: TPQS2I

**Responsibility Name**
Responsibility: PBS US Contract Administrator and PBS CAN Contract Administrator and PBS US Contracts Admin and PBS CAN Contracts Admin

**Navigation**
Navigation: PBS US Contract Administrator / Launch Contracts

[2021-06-08 20:14] TinaGriffin commented on #34
I found this document that seems to be the fix for our issue.
 What to do When the 'Submit For Approval' Button is Disabled in Service Contracts (Doc ID 2241849.1)

Also, the reason why I think this is the fix...is that I tested this in the seeded Responsibility "Service Contracts Manager" and the Submit for Approval is available there.  It is only not available in our custom responsibilities.

[2021-06-08 22:37] vinaytalasila commented on #33
**@TinaGriffin:** I have reviewed the profile option values and other setups of that responsibility, profile options at your user level between INT 12.1.3 and STG 12.2.10. I did not see any difference. So, need to investigate more regrading the issues that you reported in this ticket.

**@ashoksnapfj :** Apart from my above comment, when I tried to pull existing request number in INT 12.1.3 and ST

[2021-06-08 23:59] vinaytalasila commented on #34
Tina,

I have reviewed the Doc ID 2241849.1 and the existing menu, submenu details related to the 'PBS US Contract Administrator', 'PBS CAN Contract Administrator', 'PBS US Contracts Admin' and 'PBS CAN Contracts Admin' responsibilities.

I added OKS_CONTRACTS_ADMIN_R12 submenu to the PBS_CONTRACTS_MAIN_MENU ('PBS US Contract Administrator', 'PBS CAN Contract Administrator' responsibilities has th

[2021-06-09 05:01] amitjori commented on #8
Hi Team,

The size of this patch(31640893) is 1.2 GB. I am checking further with Oracle if this patch can help resolve our issue.

Regards,
Amit

[2021-06-09 13:09] amitjori commented on #7
Hello Tina,

I am not able to locate this SR 3-17957049521 : SOA Deployment issues after refresh. Is it possible for you to send me the extract of this SR in email?

Regards,
Amit

[2021-06-09 13:39] suhas-deshpande commented on #32
Hi Sherry,

Can you please check now. Address line 1 was mandatory in Address DFFF, which is now made optional.

![Capture](https://user-images.githubusercontent.com/85028593/121365360-1c8fe800-c928-11eb-83e6-2163ec628260.JPG)

Thanks,
Suhas

[2021-06-09 13:48] ashoksnapfj commented on #28
Hi Tina,

This issue is fixed now. I have attached the file after I tested in STG.
Please test and provide us your feedback.

Thanks
Ashok.T
[STG.Issue.Sales.Recap.and.TMP.Buttons.working.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6624201/STG.Issue.Sales.Recap.and.TMP.Buttons.working.docx)

[2021-06-09 14:06] SherryXLiu commented on #32
Yes. This is fixed. You may close it. thanks

[2021-06-09 14:08] #32 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande, TinaGriffin, AkshayK247

[2021-06-09 14:18] Haqueraz commented on #29
I verified this issue and it is working as expected.
I am able to get the new page  clicking on Top right button.
[Pagescreen.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6624444/Pagescreen.docx)

[2021-06-09 14:21] lindamrigo commented on #29
What is the navigation you are using?  I am still getting the error.

[2021-06-09 14:23] lindamrigo commented on #29
Also, can we load a new standard form of this without the buttons?

[2021-06-09 14:26] TinaGriffin commented on #7
Attached is the old SR we had opened for SOA.

From: amitjori ***@***.***
Sent: Wednesday, June 9, 2021 9:10 AM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Griffin, Tina ***@***.***>; Assign ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] WADL is not deployed ***SR 3-26108882831*** (#7)

CAUTION: This email originated from outside of Snap-on. Do not click on links or ope

[2021-06-09 14:26] TinaGriffin commented on #7
Attached is the old SR we had opened for SOA. SR 3-17957049521
[SR 3-17957049521.pdf](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6624529/SR.3-17957049521.pdf)

[2021-06-09 14:37] Haqueraz commented on #29
Resp : Sales User
sales user>customers>simple search>enter 00926>Go>Click on Guaranty Chevrolet>
Yes. I am able to load the standard form also.

[2021-06-09 14:46] lindamrigo commented on #29
Sales Dashboard form without the buttons is the form I am referring to as your screenshot has both the personalization button and the hard-coded button.

[2021-06-09 15:06] hamiltonmark opened #35 "INT 12_2_10 REQUEST SET ERROR SBS Workflow BG Process OEOL 1st OEOH 2nd"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:  DPQS2I

**Responsibility Name**
Responsibility:   Applications Administrator

**Navigation**
Navigation:  Submit Request Set

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descri

[2021-06-09 15:07] hamiltonmark commented on #35
[INT 12_2_10 REQUEST SET ERROR SBS Workflow BG Process OEOL 1st OEOH 2nd.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6624830/INT.12_2_10.REQUEST.SET.ERROR.SBS.Workflow.BG.Process.OEOL.1st.OEOH.2nd.docx)

[2021-06-09 15:40] TinaGriffin commented on #34
I've retested this and it is working now.  This ticket can be closed.

[2021-06-09 16:07] vinaytalasila commented on #35
Mark,

Did this worked well in STG 12.2.10 instance?

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-09 16:09] vinaytalasila commented on #34
Tina,

Thank you for testing this.

I will move the setups to INT 12.2.10 instance and make a note of this setups in our repository. Then I will close this ticket.

Thanks
Vinay Talasila

[2021-06-09 16:29] hamiltonmark commented on #35
Vinay
This request set did NOT have an issue in STG.
As you can see below in STG – it is accessible and runs successfully.
It seems to have a Language (NLS) issue in INT.

![image](https://user-images.githubusercontent.com/85197361/121393369-4512e480-c91e-11eb-9f25-87c6998a2d32.png)

[2021-06-09 16:29] Haqueraz commented on #29
I choose the action list and click on GO button. It is also working.
Please find the last screen.
[Sales User-Pagescreen.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6625365/Sales.User-Pagescreen.docx)

[2021-06-09 17:02] TinaGriffin commented on #28
I've retested this and the issue is resolved.  This can be closed.

[2021-06-09 17:55] hamiltonmark opened #36 "INT 12.2.10 REQUEST SET ERROR PBS Advanced Collections Assign Collector Populate UWQ Process"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:  dpqs2i

**Responsibility Name**
Responsibility:  SBS Collections Administrator

**Navigation**
Navigation:  Submit Request Set > PBS Advanced Collections Assign Collector Populate UWQ Process

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2021-06-09 17:55] hamiltonmark commented on #36
[INT 12_2_10 REQUEST SET ERROR PBS Advanced Collections Assign Collector Populate UWQ Process.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6625872/INT.12_2_10.REQUEST.SET.ERROR.PBS.Advanced.Collections.Assign.Collector.Populate.UWQ.Process.docx)

[2021-06-09 17:56] hamiltonmark commented on #36
Looks like similar issue with Language.
This Request Set ran successfully in STG.
Issue only exists in INT.

[2021-06-09 19:29] TinaGriffin opened #37 "INT 12.2.10 CPQ DEV to EBS INT Test Connection Failed SR 3-26158238911"
**Describe the bug**
The test connection is not working in INT.  I believe CPQ will need to whitelist the url.

**Instance Name**
Instance: DPQS2I

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Test Connection should return results.

[2021-06-09 19:29] TinaGriffin commented on #37
I have opened Sev 1 CPQ SR 3-26158238911 to see if they need to whitelist the new INT url.

[2021-06-09 19:41] vinaytalasila commented on #37
**@amitjori @SomuSundaramM** : Could you please look into this?

Thanks
Vinay Talasila

[2021-06-09 19:56] vinaytalasila commented on #34
Just an update.....I added OKS_CONTRACTS_ADMIN_R12 submenu to the PBS_CONTRACTS_MAIN_MENU ('PBS US Contract Administrator', 'PBS CAN Contract Administrator' responsibilities has this menu) and PBS_CONTRACTS_ADMIN_MM ('PBS US Contracts Admin' and 'PBS CAN Contracts Admin' responsibilities has this menu) custom menu's in INT 12.2.10 instance. I am closing this issue now.

Thanks
Vinay Talasila

[2021-06-09 19:56] #34 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, suhas-deshpande

[2021-06-09 20:04] SherryXLiu opened #38 "Sales Manager > Customer in INT customer name get error"
**Describe the bug**
A clear and concise description of what the bug is.
Sales Manager > Customer in INT , There is customer name link , when click the link get an error

**Instance Name**
Instance:
dpqs2i
**Responsibility Name**
Responsibility:
Sales Manager
**Navigation**
Navigation:
Sales Manager > Customer
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. S

[2021-06-09 20:08] SherryXLiu opened #39 "INT Sales Manager > Lead Cannot Open the Page"
**Describe the bug**
A clear and concise description of what the bug is.
INT Sales Manager > Lead  Cannot Open the Page

**Instance Name**
Instance:
dpqs2i
**Responsibility Name**
Responsibility:
Sales Manager
**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
![image](https://user-images.githubuserc

[2021-06-09 20:10] SherryXLiu opened #40 "INT Sales User: Open the page get Error"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance: dpqs2i

**Responsibility Name**
Responsibility:

**Navigation**
Navigation: sales User

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
![image](https://user-images.githubusercontent.com/85246030/121422475-443d7b00-c93d-11eb

[2021-06-09 20:15] SherryXLiu commented on #39
All these functions get Error exception Customer and Contact
![image](https://user-images.githubusercontent.com/85246030/121422961-c29a1d00-c93d-11eb-9a38-54113fd7bd00.png)

[2021-06-09 20:33] TinaGriffin opened #41 "INT 12.2.10 Opening Concurrent Program Page from Configurator Errors"
**Describe the bug**
I was trying to retest the issue in TPQS2I that I got trying to run the configurator program but then it worked in TPQS2I and in DPQS2I the page won't open.

**Instance Name**
Instance: DPQS2I

**Responsibility Name**
Responsibility: Oracle Configurator Administrator

**Navigation**
Navigation: Oracle Configurator Administrator / Concurrent Programs / Schedule

**To Reproduce*

[2021-06-09 20:53] TinaGriffin commented on #37
CPQ SR 3-26158238911....they whitelisted the url to resolve the issue.  This can be closed.

[2021-06-09 21:07] vinaytalasila commented on #41
Tina,

We will look into this and keep you posted.

**@ashoksnapfj :** #30 is the related ticket number. Could you please check what setup missing in INT 12.2.10 regarding this issue. If needed, please add Amit and Somu to this ticket.

Thanks
Vinay Talasila

[2021-06-09 21:19] vinaytalasila commented on #40
Sherry,

We will look into this and keep you posted.

**@suhas-deshpande :** Could you please check what technical / functional setups are missing related to this issue in INT 12.2.10 vs STG 12.2.10 and apply them in INT 12.2.10. If there are any configurations that need to be done by DBA team then please add Amit and Somu to this ticket.

Thanks
Vinay Talasila

[2021-06-09 21:21] vinaytalasila commented on #39
Sherry,

We will look into this and keep you posted.

**@suhas-deshpande** : Could you please check what technical / functional setups are missing related to this issue in INT 12.2.10 vs STG 12.2.10 and apply them in INT 12.2.10. If there are any configurations that need to be done by DBA team then please add Amit and Somu to this ticket.

Thanks
Vinay Talasila

[2021-06-09 21:23] vinaytalasila commented on #38
Sherry,

We will look into this and keep you posted.

**@suhas-deshpande** : Could you please check what technical / functional setups are missing related to this issue in INT 12.2.10 vs STG 12.2.10 and apply them in INT 12.2.10. If there are any configurations that need to be done by DBA team then please add Amit and Somu to this ticket.

Thanks
Vinay Talasila

[2021-06-09 21:24] #37 closed, assigned to vinaytalasila, Haqueraz, SomuSundaramM, amitjori

[2021-06-09 21:27] vinaytalasila commented on #36
**@amitjori @SomuSundaramM** : Could you please review Mark's comments in this ticket and check whether you applied any language related setups or patches in STG 12.2.10 but did not apply them in INT 12.2.10?

Thanks
Vinay Talasila

[2021-06-09 21:28] vinaytalasila commented on #35
**@amitjori @SomuSundaramM** : Could you please review Mark's comments in this ticket and check whether you applied any language related setups or patches in STG 12.2.10 but did not apply them in INT 12.2.10?

Thanks
Vinay Talasila

[2021-06-09 21:32] vinaytalasila commented on #28
**@amitjori and @SomuSundaramM :** Could you please recollect the processes or setups that you applied yesterday (6/8/2021) in STG 12.2.10 and list them out here so that we can close this ticket. Because of those setups, this issue was fixed. Also, move those setups to INT 12.2.10 instance.

Thanks
Vinay Talasila

[2021-06-10 05:00] amitjori commented on #36
Hi Mark,

We are checking this issue will keep you updated.

Regards,
Amit

[2021-06-10 05:02] amitjori commented on #35
Hi Mark,

We are checking this issue will keep you updated.

Regards,
Amit

[2021-06-10 06:20] suhas-deshpande commented on #40
Hi Sherry - Please check now. You should be able to open the page now. You resource id was not mapped to your user in  DPQS2I which has now been fixed.

Thanks,
Suhas

[2021-06-10 09:01] suhas-deshpande commented on #13
Hi Sherry - We are now able to search from below navigation in STG after adding missing roles.

1. Territory Management>Territory Administration> Dashboard  > Sales Team Search  >
2. Territory Management > Search

Attaching the screenshot for your reference. Please test and let us know if you are able to search.

![Capture](https://user-images.githubusercontent.com/85028593/121496729-44378c80-c9ca

[2021-06-10 09:07] suhas-deshpande commented on #39
Hi Sherry - Kindly test now. You should be able to open the page now. You resource id was not mapped to your user in DPQS2I which has now been fixed.

Thanks,
Suhas

[2021-06-10 10:07] amitjori commented on #28
Hello Vinay,
Below steps were performed in STG 12.2.10 while troubleshooting the global licensing  issue which seems to have resolved this issue, we have performed these steps in INT 12.2.10 instance. you may please test the issue in INT 12.2.10 instance.

perform below on both private and public tier
1) pbs folder copied from SOURCE (Prod) to  INT 12.2.10 under $JAVA_TOP/oracle/apps
2) cd $JAVA_T

[2021-06-10 10:26] suhas-deshpande commented on #38
Hi Sherry,

I am able to open update customers page after clicking on customer name link in INT instance. Please see below screenshot. Kindly test again and if you are still getting same error, please provide the screenshot.

Thanks,
Suhas

![image](https://user-images.githubusercontent.com/85028593/121509237-f58fef80-c9d5-11eb-8bcc-bc7d9f3ad2a9.png)

[2021-06-10 10:27] SomuSundaramM commented on #35
Hi Mark,

Please check the program once and let us know if the issue still exists.

Thanks,
Somu

[2021-06-10 10:28] SomuSundaramM commented on #36
Hi Mark,

Please check the program once and let us know if the issue still exists.

Thanks,
Somu

[2021-06-10 11:04] ashoksnapfj commented on #41
Hi Tina,

This is working in INT instance. Please check once and provide us your feedback.
Attached tested screen shot also.
[INT.12.2.10.Schedule.Concurrent.Program.for.Configurator_Working.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6630758/INT.12.2.10.Schedule.Concurrent.Program.for.Configurator_Working.docx)

Thanks,
Ashok.T

[2021-06-10 11:54] hamiltonmark commented on #35
Thanks Somu.

Request Set - SBS Workflow BG Process OEOL 1st OEOH 2nd - ran successfully in INT.

![image](https://user-images.githubusercontent.com/85197361/121520517-fec29180-c9c0-11eb-9513-1d73ebf82402.png)

[2021-06-10 11:56] hamiltonmark commented on #35
Request Set - SBS Workflow BG Process OEOL 1st OEOH 2nd - has been scheduled to run every 10 mins in INT.

This ticket can be closed.

[2021-06-10 12:15] SherryXLiu commented on #40
@suhas-deshpande : Yes. It works now.
Could you provide the fix screenshot? I would understand why it is occurred and if other users could face same problem
Thanks

[2021-06-10 12:16] SherryXLiu commented on #39
@suhas-deshpande : Yes. It works now.
Could you provide the fix screenshot? I would understand why it is occurred and if other users could face same problem
Thanks

[2021-06-10 12:22] hamiltonmark commented on #36
Thanks Somu

Submitted Request Set - PBS Advanced Collections Assign Collector Populate UWQ Process (Report Set) - in INT.
Job ran successfully.
Job has been scheduled to run in INT each morning at 6am.

![image](https://user-images.githubusercontent.com/85197361/121524023-ddfc3b00-c9c4-11eb-8ebb-a3fb5d79ce14.png)

[2021-06-10 12:23] hamiltonmark commented on #36
This ticket can be closed.

[2021-06-10 12:24] SherryXLiu commented on #38
@suhas-deshpande : It seems ok. I can open the page too with the link. But this morning I saw the error once again like below location, but I cannot consistently reproduce it. I will try it again later. Thanks
![image](https://user-images.githubusercontent.com/85246030/121524216-156ae780-c9c5-11eb-92a1-b89d59f28c68.png)

[2021-06-10 12:41] vinaytalasila commented on #36
**@SomuSundaramM :** Could you please let us know what was the fix that you applied to resolve the issue?

Thanks
Vinay Talasila

[2021-06-10 12:44] vinaytalasila commented on #35
**@SomuSundaramM :** Could you please let us know what was the fix that you applied to resolve the issue?

Thanks
Vinay Talasila

[2021-06-10 12:47] vinaytalasila commented on #28
Thank you Amit.

Tina,

Before we close this issue, could you please test this in INT 12.2.10 instance as well?

Thanks
Vinay Talasila

[2021-06-10 12:52] vinaytalasila commented on #33
**@ashoksnapfj :** Did we get any update from Oracle Support regarding the SR SR 3-26150947721. If no, then could you please follow-up with them?

Thanks
Vinay Talasila

[2021-06-10 12:54] ashoksnapfj commented on #33
Hi Vinay,

I sent follow-up mail and oracle team replied that they still working on this.

Thanks
Ashok.t

[2021-06-10 13:04] SomuSundaramM commented on #35
We have corrected the NLS environment variable and bounced the DB fixed the issue

Thanks,
Somu

[2021-06-10 13:05] SomuSundaramM commented on #36
We have corrected the NLS environment variable and bounced the DB fixed the issue

Thanks,
Somu

[2021-06-10 13:12] lindamrigo commented on #29
This is working in Stage

[2021-06-10 13:12] #29 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande, AkshayK247, amitjori

[2021-06-10 13:14] TinaGriffin commented on #28
I've tested in INT 12.2.10.  At first I got the Error Page error as is above in this ticket when trying to open the quote altogether.  But I tried it a second and third time and the third time it worked, so I'm not sure if something else was happening at first.  But this issue is fixed in INT and can be closed.

[2021-06-10 13:19] vinaytalasila commented on #35
Thank you for your update Somu.

[2021-06-10 13:19] #35 closed, assigned to vinaytalasila, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-10 13:20] vinaytalasila commented on #36
Thank you for your update Somu.

[2021-06-10 13:20] TinaGriffin commented on #41
This issue is resolved and can be closed.  I'm certain it was the NLS fix that resolved this one.

[2021-06-10 13:20] #36 closed, assigned to vinaytalasila, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-10 13:22] vinaytalasila commented on #30
Tina,

There is no technical fix for this issue. DBA's has done OAF configurations and it has fixed this issue.

[2021-06-10 13:22] #30 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-10 13:23] vinaytalasila commented on #41
Thank you for your update Tina.

[2021-06-10 13:23] #41 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-10 13:23] suhas-deshpande commented on #40
@SherryXLiu  :- While debugging various issues In INT, I had attached my user with your resource  from below navigation to be able to access the forms and responsibilities -

CRM resource Manager - Maintain Resources - Resources.

Due to this you got the error of invalid resource id. I have now attached your user correctly and going forward I will not need to change it as I already have mine in pl

[2021-06-10 13:24] vinaytalasila commented on #28
Thank you for your update Tina.

[2021-06-10 13:24] #28 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, SomuSundaramM, amitjori

[2021-06-10 13:25] suhas-deshpande commented on #39
@SherryXLiu - While debugging various issues In INT, I had attached my user with your resource from below navigation to be able to access the forms and responsibilities -

CRM resource Manager - Maintain Resources - Resources.

Due to this you got the error of invalid resource id. I have now attached your user correctly and going forward I will not need to change it as I already have mine in place

[2021-06-10 13:31] suhas-deshpande commented on #38
@SherryXLiu :- Sure Sherry. Please let us know if you face any issues.

[2021-06-10 13:58] #40 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande

[2021-06-10 13:58] SherryXLiu commented on #39
It can be closed

[2021-06-10 13:58] #39 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande

[2021-06-10 13:59] SherryXLiu commented on #38
It seems ok

[2021-06-10 13:59] #38 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande

[2021-06-10 14:14] lindamrigo commented on #8
This is now working.

[2021-06-10 14:14] #8 closed, assigned to TinaGriffin, lindamrigo, SomuSundaramM, amitjori

[2021-06-10 14:19] SherryXLiu opened #42 "Please turn off updating customer or contact information function in Sales Modules"
**Describe the bug**
A clear and concise description of what the bug is.
Please turn off updating customer or contact information function in Sales Modules
**Instance Name**
Instance:
DPQS2I
**Responsibility Name**
Responsibility: all the Sales Responsibilities
![image](https://user-images.githubusercontent.com/85246030/121541418-46ebaf00-c9d5-11eb-9120-0e0d990a653b.png)

**Navigation**
Navigation

[2021-06-10 14:23] SherryXLiu commented on #42
Attached screenshot is only one example. Please check all customer links in Sales module

[2021-06-10 14:27] SherryXLiu commented on #13
It is now OK in INT

[2021-06-10 14:27] #13 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande, TinaGriffin, SomuSundaramM, amitjori, SherryXLiu

[2021-06-10 17:34] Haqueraz commented on #42
Hi Sherry,

I have Turn-off the update and remove icon from the business relationships table rows for below responsibilities in STG instance.
Please test and confirm then I will do the same in INT .

Responsibilities  :
 Sales Manager
 Sales User

[ref-document.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6633297/ref-document.docx)

Thanks
Razaul

[2021-06-10 17:48] TinaGriffin opened #43 "INT Duplicating HTML Quotes throws Error"
**Describe the bug**
When trying to duplicate a quote it will not allow it, it throws a relationship error.

**Instance Name**
Instance: DPQS2I

**Responsibility Name**
Responsibility: PBS US Contract Administrator

**Navigation**
Navigation: HTML Quote Administration / Quotes / Dashboard
[INT 12.2.10 Duplicate HTML Quote Error.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6633

[2021-06-10 18:03] Haqueraz commented on #43
Hi Tinna,

We will look into this and keep you posted.

This issue comes for all quote# or it comes on particular Quote #198150?

@suhas-deshpande : Could you please check this issue.

Thanks
Razaul

[2021-06-10 18:35] hamiltonmark opened #44 "INT 12.2.10 Administrator Workflow - Status Monitor - Returns no data"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:  DPQS2I

**Responsibility Name**
Responsibility:      Workflow Administrator Web (New)

**Navigation**
Navigation:    Administrator Workflow > Status Monitor

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behav

[2021-06-10 18:37] hamiltonmark commented on #44
In INT 12.2.10 - no matter what parameter is entered - it returns no rows.
Below Parameters Entered...  OEOH ... should return some data.

![image](https://user-images.githubusercontent.com/85197361/121578984-4533e280-c9f9-11eb-8d34-0e75e9ebc5ae.png)

[2021-06-10 18:37] TinaGriffin commented on #43
I tried multiple quotes.  In addition, there are two ways to duplicate a quote...the way I listed and also, to open the quote and in the drop down on the far right top select Duplicate Quote.  I tried both methods and both threw the same error.  (This is working in TPQS2I 12.2.10)

[2021-06-10 18:43] SherryXLiu commented on #42
Checked STG. There are duplicated Sales Manager responsibility, the marked one is Error out
![image](https://user-images.githubusercontent.com/85246030/121579879-2550ee80-c9fa-11eb-8799-de9c17a3ef52.png)

[2021-06-10 18:46] SherryXLiu commented on #42
The second one Sales Manager is OK. Can you also make these fields display only?

![image](https://user-images.githubusercontent.com/85246030/121580339-a01a0980-c9fa-11eb-93a3-96e69aa31190.png)

[2021-06-10 18:48] SherryXLiu commented on #42
Please disable "Create Customer"
![image](https://user-images.githubusercontent.com/85246030/121580589-e66f6880-c9fa-11eb-9a98-02a2d6d1f276.png)

[2021-06-10 18:57] SherryXLiu opened #45 "Get Error when try to open responsibility Sales User >Sales Search"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If

[2021-06-10 19:01] SherryXLiu commented on #42
in page Opportunity > Customer link go to update page
![image](https://user-images.githubusercontent.com/85246030/121582210-bcb74100-c9fc-11eb-93ad-ca876f5f0788.png)

[2021-06-10 19:22] hamiltonmark commented on #44
Tested the same for issue in STG 12.2.10 - no rows display there as well.
Unsure if there is an issue or possibly Workflow Data is too old and has been purged.

DPQS2I Instance is not yet available to us via TOAD.  Waiting on SBS Tech to add to LDAP/OID.

[2021-06-10 19:25] hamiltonmark commented on #44
TPQS2I 12.2.10 - The following query returns no rows.
Commented the end_date is null line - same results.

SELECT item_type,
         item_key,
         TO_CHAR (begin_date, 'DD-MON-RR HH24:MI:SS') begin_date,
         TO_CHAR (end_date, 'DD-MON-RR HH24:MI:SS') end_date,
         root_activity activity
    FROM apps.wf_items
   WHERE item_type = '&item_type' AND end_date IS NULL
ORDER BY TO_DATE (

[2021-06-10 19:50] Haqueraz commented on #42
Hi Sheery,
Thanks for the quick response.

Yes. There are duplicate sales Manager Responsibility.
I am getting the same error message in both instance STG 12.2.10 and 12.1.3 in the same application responsibility.
Are you able to open the same in 12.1.3.
![image](https://user-images.githubusercontent.com/84917836/121587531-8973b280-c9fa-11eb-8d62-6b8ced54bcc4.png)

you have requested for others di

[2021-06-10 20:07] SherryXLiu commented on #45
Yes. I can open it
![image](https://user-images.githubusercontent.com/85246030/121590156-fb052e00-ca05-11eb-847c-783c794599f7.png)

[2021-06-10 20:58] Haqueraz commented on #44
Hi Mark,

We will look into this and share the updates.

Thanks
Razaul

[2021-06-10 21:11] Haqueraz commented on #45
Hi Amit,

Can you please verify the highlighted Path in 12.2.10 Instance.
![image](https://user-images.githubusercontent.com/84917836/121596954-ba0d1980-ca05-11eb-96d7-ac9ebe23e441.png)

![image](https://user-images.githubusercontent.com/84917836/121597457-5b946b00-ca06-11eb-87c7-1720e8c6aa4f.png)

Thanks
Razaul

[2021-06-11 04:46] amitjori commented on #45
Hi Razaul,

In STG instance I can see the below path under $JAVA_TOP

[aptpqs2i@ssbsashebsap3 webui]$ pwd
/tpqs2i/12.2/STG/fs2/EBSapps/comn/java/classes/oracle/apps/pbs/salesSearch/webui
[aptpqs2i@ssbsashebsap3 webui]$ ls -ltr
total 8
-rwxr-xr-x 1 aptpqs2i dba 7551 Feb  7  2015 SBSSalesSearchPG.xml

Thanks,
Amit

[2021-06-11 08:59] suhas-deshpande commented on #43
Hi Tina,  I was able to create duplicate quote in INT by selecting  Drop down from top right corner. PFA the quote number 198151 (for same customer) and 198152 (for different customer).

![image](https://user-images.githubusercontent.com/85028593/121659899-47964b00-ca92-11eb-8a9e-d95e98be3d64.png)
![image](https://user-images.githubusercontent.com/85028593/121661018-4d406080-ca93-11eb-8e80-5316004

[2021-06-11 08:59] SomuSundaramM commented on #44
Hi Mark,

We've changed the permission to view the workflow as same as existing 12.1.3 instance, Please check and confirm are you able to see now

![image](https://user-images.githubusercontent.com/85238833/121661036-516c7e00-ca93-11eb-9dbb-2a40c758f594.png)

Thanks,
Somu

[2021-06-11 09:11] suhas-deshpande commented on #43
@TinaGriffin  - Are you changing any default values on the page when you try to submit ?

Thanks,
Suhas

[2021-06-11 09:54] hamiltonmark commented on #44
Thanks Somu
I am able to successfully query Workflow Records now in both INT and STG 12.2.10.

![image](https://user-images.githubusercontent.com/85197361/121668304-2c6b1180-ca79-11eb-9460-6ecdfd3056a7.png)

[2021-06-11 09:54] hamiltonmark commented on #44
This ticket can be closed.

[2021-06-11 11:51] SomuSundaramM commented on #44
Thank you Mark for the confirmation

[2021-06-11 12:33] TinaGriffin commented on #43
No I'm not changing any defaults.

[2021-06-11 12:56] Haqueraz commented on #45
Amit
when I am changing the function path then able to open that page.

  OA.jsp?page=/oracle/apps/pbs/salesSearch/webui/SBSSalesSearchPG  -- not working   -- This is the Original Path
  OA.jsp?page=/oracle/apps/pbs/snapshot/webui/PBSSalesSnapshotPG  -- working.

Thanks
Razaul

[2021-06-11 13:53] SherryXLiu commented on #42
For Customer short cut, if you could turn off 'Save" button, we may ok
![image](https://user-images.githubusercontent.com/85246030/121697274-e3c45000-ca9a-11eb-8740-6f5c01f2c5d4.png)

[2021-06-11 13:59] SherryXLiu commented on #42
For other short cut than Customer.( e.g. Lead, Opportunity....) if you could disable the link under customer name, it might work for us

[2021-06-11 14:01] TinaGriffin commented on #16
To access the Installed Base, you must have "Oracle Installed Base User" responsibility along with the PBS responsibility.  Also, you'll need crm html permissions.  The navigation for that is responsibility: CRM HTML Administration / Setup / Users / Registration / User Maintenance.  Enter your Oracle Username and select Go.  When the result returns, click on your highlighted username.  Select the

[2021-06-11 15:06] Haqueraz commented on #16
Thank you for sharing the details.

[2021-06-11 15:50] Haqueraz commented on #43
Hi Tinna,

I am also  able to create duplicate quote in STG by selecting both option :
1.Drop down icon from top right corner
2.Clicking the Duplicate Icon.

For some cases I got the same error you reported but this is happening if existing quote have data issue in quote line.

Thanks
Razaul

[2021-06-11 16:48] Haqueraz commented on #42
Hi Sherry,

I made the changes in Customer short cut to turn-off the 'save' button.
For others short cut ( e.g. Lead, Opportunity....) .we can't  disable the link under the customer but this is redirecting to the same page were turned-off the save button.

Thanks
Razaul

[2021-06-11 17:04] TinaGriffin commented on #43
Are you checking on the Copy lines?  You should be able to copy the header and the lines.  If I just copy the header it works, but selecting the lines it errors.

[2021-06-11 17:08] SherryXLiu commented on #42
I checked The Customer short cut. It may work, I will let users to test it next week

For Other short cut, if you cannot disable the URL or show a message other than error message. Then I have no idea, maybe you have to tab by tab to eliminate edit or save button

[2021-06-11 17:27] Haqueraz commented on #43
Yes Tina . I am checking the line including all check list.
![image](https://user-images.githubusercontent.com/84917836/121726571-568bf600-cab0-11eb-9312-0ed1feed9dd3.png)
![image](https://user-images.githubusercontent.com/84917836/121726583-5f7cc780-cab0-11eb-95b4-eeedf6a51d06.png)

[2021-06-11 17:42] TinaGriffin commented on #43
Maybe we can have a conference call then so I can show you what I get.

[2021-06-11 18:23] SherryXLiu commented on #42
Or the link go to Inquiry Page (below) instead of Update Page could work too
![image](https://user-images.githubusercontent.com/85246030/121732725-922ebc00-cac0-11eb-9dc0-1229f388e08e.png)

[2021-06-11 19:09] TinaGriffin opened #46 "INT PBS US View Only Contracts and Installed Base Menu Exclusions are missing"
**Describe the bug**
As I was testing this responsibility in INT 12.2.10 I noticed it had a lot more functionality than what I remembered.  So I compared the responsibilities in PRD 12.1.3 and INT 12.2.10 and noticed all but one of the menu exclusions are missing.

**Instance Name**
Instance: DPQS2I

**Responsibility Name**
Responsibility: PBS US View Only Contracts and Installed Base

**Navigatio

[2021-06-11 19:38] vinaytalasila commented on #46
Tina,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-06-14 13:20] ashoksnapfj commented on #46
Hi Tina,

This is fixed now. Please check now provide us know your feedback.

Thanks
Ashok.T

[2021-06-14 15:12] TinaGriffin opened #47 "Attached is the APEX cert since it won't go through email."
**Describe the bug**
No bug....email apparently getting blocked so using github to upload the APEX cert
[isbsashebsap4.oci.snapbs.com.zip](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6649405/isbsashebsap4.oci.snapbs.com.zip)
.

**Instance Name**
Instance:

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-06-14 16:18] Haqueraz commented on #47
Thank you for sharing the information. @amitjori will look into this.

[2021-06-14 17:28] Haqueraz commented on #42
Hi Sherry,

We made the below changes in customer pages now it looks exactly same at 12.1.3 page.
Please verify all the shot cut and let us know if you have any queries.

-> Hide the 'save' button on the Top right.
-> changed the context  value to 'Read only'
-> Hide the update/remove Icon from all tabs.

Thanks
Razaul

[2021-06-14 18:02] hamiltonmark opened #48 "INT 12.2.10 Check SMTP o365 Server - Job runs successfully - Log shows email was sent - but no email received"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:    DPQS2I

**Responsibility Name**
Responsibility:   SBS Collection Analyst

**Navigation**
Navigation:  Invoice Transaction Details > Send Copy

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear

[2021-06-14 18:02] hamiltonmark commented on #48
![image](https://user-images.githubusercontent.com/85197361/121937880-272bf200-cd19-11eb-8080-649e9078d3d1.png)

[2021-06-14 18:05] hamiltonmark commented on #48
Log shows successful.
Checked Spam and Quarantine - emails in question not found there... so assuming they are not being blocked.
Logic next step to check SMTP Server Queue.

[2021-06-14 18:05] hamiltonmark commented on #48
DEBUG SMTP: message successfully delivered to mail server
QUIT
221 2.0.0 Bye
IEXXmlDelivery [Jun-14-2021 13:54:54]: submitted request successfully...
IEXXmlDelivery [Jun-14-2021 13:54:54]: return status :0
IEXXmlDelivery [Jun-14-2021 13:54:54]: return Status msg :Message has been successfully sent to all addresses.
IEXXmlDelivery [Jun-14-2021 13:54:54]: end sending email
IEXXmlDelivery [Jun-14-202

[2021-06-14 18:13] hamiltonmark commented on #48
In addition - today (6/14/2021) begins Test Cycle 1 for End Users.
Many end users will be trying to use Login Assistance to reset their passwords.
This is not working as well.
Please check the SMTP Server.
Thanks

[2021-06-14 18:15] hamiltonmark commented on #48
Login Assistance is now working.

Received the email

![image](https://user-images.githubusercontent.com/85197361/121939322-e7fea080-cd1a-11eb-8bf5-5d78f005885a.png)

[2021-06-14 18:32] SherryXLiu commented on #42
@Haqueraz
Sales Manager> Customer
Yes It is much closer, But please look at
![image](https://user-images.githubusercontent.com/85246030/121941023-c56d8700-cd1c-11eb-81dc-c7829e258988.png)
![image](https://user-images.githubusercontent.com/85246030/121941154-eb932700-cd1c-11eb-9428-3cb8081a74ab.png)
![image](https://user-images.githubusercontent.com/85246030/121941242-05cd0500-cd1d-11eb-8807-1d9761

[2021-06-14 18:44] SherryXLiu commented on #42
Suggestion:
For  Page **Sales Manager > Customer**
Go to Customer Ver only page like
![image](https://user-images.githubusercontent.com/85246030/121942864-f51d8e80-cd1e-11eb-8a3e-6e2dd9acad4f.png)

[2021-06-14 18:51] Haqueraz commented on #42
Thank you for quick testing.
We will fix these one and let you know for another round testing.

[2021-06-14 19:19] TinaGriffin commented on #46
This is resolved in INT and can be closed.

[2021-06-14 20:47] Haqueraz commented on #46
Thank you !

[2021-06-14 20:47] #46 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-14 21:00] Haqueraz commented on #42
This has been fixed now. Please test once again and let us know if you have any queries.

[2021-06-15 13:20] hamiltonmark commented on #48
Thanks Amit
SMTP Email now successfully delivering after WF Mailer Bounce.

![image](https://user-images.githubusercontent.com/85197361/122059662-dcfb4d00-cdba-11eb-945f-5db4da597df3.png)

[2021-06-15 13:20] hamiltonmark commented on #48
This ticket can be closed.

[2021-06-15 13:24] amitjori commented on #48
changed smtp_sasl_password_maps = static:wftpqs2i@ebsworkflow.onmicrosoft.com:Sbsnonpr0d2 from to smtp_sasl_password_maps = static:wfdpqs2i@ebsworkflow.onmicrosoft.com:Sbsnonpr0d2 in /etc/postfix/main.cf.

Bounced postfix services and workflow services which resolved the issue

Regards,
Amit

[2021-06-15 13:24] #48 closed, assigned to vinaytalasila, Haqueraz, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-15 14:28] SomuSundaramM commented on #45
Hi Sherry,

We have fixed the issue in STG, Please test the sales user page in STG instance and let us know the result.

![image](https://user-images.githubusercontent.com/85238833/122070992-e948cf80-cde5-11eb-95f9-bddc348adb97.png)

Thanks,
Somu

[2021-06-15 14:43] SherryXLiu commented on #45
Somu,

Sales Search is ok now, but Sales dashboard become Not
![image](https://user-images.githubusercontent.com/85246030/122073488-754aff00-cdc6-11eb-994d-b61c5f83b0a7.png)

[2021-06-15 14:53] SherryXLiu commented on #42
Haqueraz,
The listed locations you have done looks ok, but I can still find others, rather than list them I would wait for you to see if there is other way. As we have discussed in today's meeting, Please contact Oracle to see if there is a way to link  Sales modules to Customer view only pages.
Thanks

[2021-06-15 15:32] Haqueraz commented on #45
Hi Sherry ,

Please check now to open the sales Dashboard.

Thanks
Razaul

[2021-06-15 15:45] SherryXLiu commented on #45
Yes. It is OK. Thanks

[2021-06-15 15:45] #45 closed, assigned to vinaytalasila, Haqueraz, AkshayK247, SomuSundaramM, amitjori, SherryXLiu

[2021-06-15 16:13] Haqueraz commented on #42
Hi Sherry,
We are working on that way ,I will keep you updated.

Thanks
Razaul

[2021-06-15 23:11] Haqueraz commented on #16
Hi Tina,
Here is my analysis regrding the Quick Find search is not appearing in Custom responsibility but it is working fine in the seeded Install Base responsibility called “Oracle Installed Base User”.

I checked custom responsibility has been created in 'contract core' application under 'oracle application form' but the standard responsibility has been created in  Install Base application under

[2021-06-16 12:55] ashoksnapfj commented on #33
Hi Tina,

This has been fixed in STG and INT. Kindly check and let us know if any issues.

Thanks,
Ashok.

[2021-06-16 12:56] ashoksnapfj commented on #26
Hi Tina,

This has been fixed in STG and INT. Kindly check and let us know if any issues.

Thanks,
Ashok.

[2021-06-16 13:04] ashoksnapfj commented on #26
[TASK_ISSUE_FIXED.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6663206/TASK_ISSUE_FIXED.docx)

[2021-06-16 13:07] ashoksnapfj commented on #33
[TASK_ISSUE_FIXED_V1.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6663217/TASK_ISSUE_FIXED_V1.docx)

[2021-06-16 13:44] SherryXLiu commented on #42
Linda will check if Navigation Responsibility has been changed during upgrade
![image](https://user-images.githubusercontent.com/85246030/122230240-742dd680-ce87-11eb-8ade-5ad52890799c.png)

[2021-06-16 14:12] lindamrigo opened #49 "INT Journals, Import Int’l trial balance Not Importing"
PBS INR General Ledger Senior User
1.	Reports
2.	Request
3.	Standard
4.	Request Set
5.	See screenprint
![GL Import Error](https://user-images.githubusercontent.com/85238444/122234994-506c8f80-ce8b-11eb-9c07-c801f661946f.jpg)

[2021-06-16 14:15] lindamrigo opened #50 "INT ADI Upload Error - SR 3-26225604361"
This is run from Excel external from Oracle.
For general ledger – Maintenance – ADI Upload:

1.	Created ADI worksheet
2.	Added data to upload
3.	When I “uploaded” the “Processing Upload” froze

![ADI Import](https://user-images.githubusercontent.com/85238444/122235485-bc4ef800-ce8b-11eb-863b-2c663a091467.png)
![ADI Error](https://user-images.githubusercontent.com/85238444/122235496-bf49e880-ce8b-1

[2021-06-16 15:18] Haqueraz commented on #49
Hi Linda,
Thank you for sharing the information. @amitjori will look into this.

Thanks
Razaul

[2021-06-16 15:23] TinaGriffin commented on #33
I have retested this in INT and it has been resolved.  This can be closed.

[2021-06-16 15:24] TinaGriffin commented on #26
I have retested this in INT and it its working.  This can be closed.

[2021-06-16 15:24] lindamrigo commented on #49
Uploaded log
[Int'l Import LOG INR PROD PBS_GL_International_Interface.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6664056/Int.l.Import.LOG.INR.PROD.PBS_GL_International_Interface.txt)

[2021-06-16 15:47] SherryXLiu opened #51 "USE API TO ADD A OEM RELATIONSHIP"
**Describe the bug**
A clear and concise description of what the bug is.
Use Oracle API to create a relationship, same program and same data is work in 12.1.3 instance DPQS2I, and failed in 12.2.10 instance DPQS2I

 HZ_RELATIONSHIP_V2PUB.CREATE_RELATIONSHIP ('T',
                                                   P_RELATIONSHIP_REC,
                                                   X_RELATIONSHIP

[2021-06-16 16:09] amitjori commented on #49
Hi Linda,

Can you please confirm when this program was run? as log file shows below date, just wanted to confirm as log file shows below date. Is this is the date when this program was run in INT?

Current system time is 02-JUN-2021 07:52:34

Thanks,
Amit

[2021-06-16 16:34] hamiltonmark opened #52 "INT 12.2.10 Missing Create Contact button under Customer Standard button in Advanced Collections ***SR 3-26260732121***"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:

**Responsibility Name**
Responsibility:    SBS Collections Agent

**Navigation**
Navigation:    Search > (Enter Account Number 00926) > Search > Click OK > Click on Accounts Tab > Customer Standard Button > Create Contact

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2021-06-16 16:36] hamiltonmark commented on #52
See Screenshot Word Doc for details...

[Screenshots Customer Contact in Adv Collections.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6664489/Screenshots.Customer.Contact.in.Adv.Collections.docx)

[2021-06-16 16:44] hamiltonmark commented on #52
Here is the 2015 Screenshots of Personalizations created to accomplish this.

[PERSONALIZATION SCREENSHOTS ADV COLLECTIONS ADDING CONTACTS EMAILS 28OCT2015.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6664531/PERSONALIZATION.SCREENSHOTS.ADV.COLLECTIONS.ADDING.CONTACTS.EMAILS.28OCT2015.docx)

[2021-06-16 16:58] lindamrigo commented on #49
Hi Amit
The successful run was from 12.1.3 Production.

Linda

[2021-06-16 17:57] amitjori commented on #50
Hello Linda,

Can you please confirm which browser end user is using ? If it is internet explorer can you please ask the user to review below note id.

WEBADI Cannot Upload Excel Spreadsheet - Upload Function Just Hangs (Doc ID 2309215.1)

Regards,
Amit

[2021-06-16 18:20] Haqueraz commented on #52
Thank you Mark for sharing the documents.
@AkshayK247 will work on this.

Thanks
Razaul

[2021-06-16 18:50] Haqueraz commented on #51
Hi Sherry ,
We will verify the code and API and let you know.

Thanks
Razaul

[2021-06-16 18:52] lindamrigo commented on #50
Debbie was using Edge.  I asked her to try chrome or firefox.

[2021-06-16 19:30] lindamrigo commented on #9
[Product licensing MD 050  Functional Design.pdf](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6665387/Product.licensing.MD.050.Functional.Design.pdf)
[SBS_MD50_LICENSE_RECORD_GENERATOR-8-02-07_v20.pdf](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6665388/SBS_MD50_LICENSE_RECORD_GENERATOR-8-02-07_v20.pdf)
[Global Licensing Doc.docx](https://github.com/Fujitsu-America/

[2021-06-16 19:31] lindamrigo commented on #9
please check the classpath again. There are differences between 12.2.10 and 12.1.3
Classpath in DPQS2I
[apdpqs2i@sbsashiebsap4 html]$ echo ${CLASSPATH}
/dpqs2i/product/1013/appsutil/jdk/lib/dt.jar:/dpqs2i/product/1013/appsutil/jdk/lib/tools.jar:/dpqs2i/product/1013/appsutil/jdk/jre/lib/rt.jar:/dpqs2i/applmgr/common/java/lib/appsborg.zip:/dpqs2i/product/1012/forms/java:/dpqs2i/product/1012/forms/ja

[2021-06-16 19:32] lindamrigo commented on #9
All jsp's are implicitly loading from the classpath as I have documented in Global Licensing Doc

[2021-06-16 19:34] lindamrigo commented on #9
current error
![Bad Request Error](https://user-images.githubusercontent.com/85238444/122281376-31d0bd80-ceb8-11eb-8304-c5dc3696c08e.JPG)

[2021-06-16 19:36] lindamrigo commented on #50
From Debbie G.
I will usually have to login to Oracle from the ADI worksheet so that it will upload. It doesn’t request this. I logged in to Oracle from Firefox and chrome just in case and the result is the same.

[2021-06-16 20:16] TinaGriffin commented on #16
So how would we get the View Only Contracts in with this responsibility once we change it to 'Install base' application?  Is there any option here or are we going to have to split into two responsibilities ...one for Contracts and one for Install Base?

[2021-06-16 20:17] hamiltonmark opened #53 "INT 12.2.10 Are ENV Variables Set on isbsashebsap4 - particularly $XBOL_TOP"
**Describe the bug**
Using Putty - Logging as sudo su apdpqs2i
[apdpqs2i@isbsashebsap4 ~]$ whoami
apdpqs2i
[apdpqs2i@isbsashebsap4 ~]$ hostname
isbsashebsap4
[apdpqs2i@isbsashebsap4 ~]$ echo $XBOL_TOP

 [apdpqs2i@isbsashebsap4 ~]$ pwd
/home/apdpqs2i
[apdpqs2i@isbsashebsap4 ~]$ cd $XBOL_TOP
[apdpqs2i@isbsashebsap4 ~]$ pwd
/home/apdpqs2i
[apdpqs2i@isbsashebsap4 ~]$

**Instance Name**
Instance:

**Re

[2021-06-16 20:19] SherryXLiu opened #54 "Batch loading Sales Lead process (Import Sales Leads ) do not work"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If

[2021-06-16 20:22] SherryXLiu commented on #54
Responsibility: Oracle Sales Administration
Process name Import Sales Leads
No results, no error
![image](https://user-images.githubusercontent.com/85246030/122287539-0b625080-cebf-11eb-9db6-ddacc66cdce3.png)

[2021-06-16 20:35] Haqueraz commented on #16
Hi Tina,
I don't think there is any option because of Install base is based on web application and contracts is based on Oracle Application.

Thanks
Razaul

[2021-06-16 20:48] Haqueraz commented on #54
Hi Sherry,

Could you please mention the Instance name?
Is there is data for this parameter. Completed Normal without output result means data does not exists for this parameter values.

Thanks
Razaul

[2021-06-16 20:55] TinaGriffin commented on #16
It was in 12.1.3 also though.

[2021-06-16 22:58] Haqueraz commented on #54
Hi Sherry ,

I have submitted the import program and it has successfully processed.

Please verify the processed records and let us know if any queries.
![image](https://user-images.githubusercontent.com/84917836/122305389-6a7a9200-cecc-11eb-8c19-ed8d8a73871d.png)

Calling LeadImport-PRE Event
Total batch size: 1
Spawned child# 1 request_id: 35399422
Calling LeadImport-POST Event

Thanks
Razaul

[2021-06-16 23:16] Haqueraz commented on #51
Hi Sherry,

I am not able to see  party id in INT(12.1.3) .Can you please execute the same scripts in INT- 12.1.3 instance.

Code looks good and I have executed the same ( in INT -12.2.10 upgrade) code and its looks like something wrong values passing in parameters.

getting below errors message while executing the code:

Please specify a party of type Person as either the subject or object type f

[2021-06-16 23:26] SherryXLiu commented on #54
It worked. I run in wrong instance

[2021-06-16 23:26] #54 closed, assigned to vinaytalasila, Haqueraz, SomuSundaramM, amitjori

[2021-06-17 03:43] amitjori commented on #53
Hello Mark,

I have set the environment file in .bashrc profile. Can you please try now and confirm?

[ajori@isbsashebsap4 ~]$ sudo su apdpqs2i
[sudo] password for ajori:

  E-Business Suite Environment Information
  ----------------------------------------
  RUN File System           : /dpqs2i/12.2/INT/fs2/EBSapps/appl
  PATCH File System         : /dpqs2i/12.2/INT/fs1/EBSapps/appl
  Non-Editione

[2021-06-17 09:06] hamiltonmark commented on #53
Thanks Amit
I can now see ENV Variables in INT 12.2.10.

[apdpqs2i@isbsashebsap4 12.0.0]$ hostname
isbsashebsap4
[apdpqs2i@isbsashebsap4 12.0.0]$ whoami
apdpqs2i
[apdpqs2i@isbsashebsap4 12.0.0]$ cd $XBOL_TOP
[apdpqs2i@isbsashebsap4 12.0.0]$ pwd
/dpqs2i/12.2/INT/fs2/EBSapps/appl/xbol/12.0.0
[apdpqs2i@isbsashebsap4 12.0.0]$

[2021-06-17 09:06] hamiltonmark commented on #53
This ticket can closed

[2021-06-17 11:38] lindamrigo opened #55 "Java look and feel is not consistent"
The java look and feel between dpqs2i and tpqs2i is not set the same
![dpqs2i java look](https://user-images.githubusercontent.com/85238444/122389491-f9c08d80-cf3e-11eb-84ea-f0a4af42f536.JPG)
![tpqs2i java look](https://user-images.githubusercontent.com/85238444/122389495-fc22e780-cf3e-11eb-8f21-a9da917b38e4.JPG)

[2021-06-17 12:53] #33 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-17 12:55] #26 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-17 14:22] lindamrigo commented on #9
[ojspCompile.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6670945/ojspCompile.txt)

[2021-06-17 14:22] lindamrigo commented on #9
/dpqs2i/applmgr/common/webapps/oacore/html
$ export PATH=$PATH:$FND_TOP/patch/115/bin
$ ojspCompile.pl --compile -s '[PBS_IBE_LMFLicMainForm.jsp]'
logfile set: /dpqs2i/inst/apps/DPQS2I_sbsashiebswb4/logs/appl/rgf/ojsp/ojspc_error.log
starting...(compiling delta)
using 10i internal ojsp ver: 10
synchronizing dependency file:
  enumerating jsps...8155
  parsing jsp...8155
  writing deplist...8155
in

[2021-06-17 14:24] amitjori commented on #53
Hello Mark,

This issue is resolved after setting environment variable in .bashrc profile hence closing the ticket.

Regards,
Amit

[2021-06-17 14:24] #53 closed, assigned to vinaytalasila, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-17 14:24] lindamrigo commented on #50
Debbie's reponse
"I do not open a browser at all so I don’t know what it is using. I only open Excel to perform this operation. "

[2021-06-17 14:29] lindamrigo commented on #49
Attached is the error log from 12.2.10
[GL Import 12.2.10 error log.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6670988/GL.Import.12.2.10.error.log.txt)

[2021-06-17 14:38] lindamrigo commented on #50
Debbie is using MS Excel 2016

[2021-06-17 15:21] lindamrigo commented on #50
From Debbie
'I recreated the form ADI form from Oracle using Firefox. I am getting the same result. '

[2021-06-17 15:51] SherryXLiu commented on #42
Linda has checked the Sales Manager and Sales User menu, it has been changed. It seems we don't have other options on Menu.
Linda will report the issue on the navigation options

[2021-06-17 16:03] TinaGriffin commented on #7
I found this within "12.2 E-Business Suite Integrated SOA Gateway Troubleshooting For REST, Java Web Service Invocation, And Other ISG Related Exceptions (Doc ID 2177901.1)".  It sounds pretty close to our error.  Can we try this?
----------------------------------------

3. Issue

Java Web Service Generation is failing

Error in Service Generation oracle.apps.fnd.isg.common.error.ISGException: Er

[2021-06-17 18:20] lindamrigo opened #56 "INT Sales User"
There is a difference in the Sales User menu between 12.1.3 and 12.2.10. In 12.1.3, I can get into the menu and full functionality, in 12.2.10, I get an error. Both screenshots are attached.

![sales user dpqs2i 12 1 3](https://user-images.githubusercontent.com/85238444/122452286-1a0c3e80-cf77-11eb-8261-879929ba15d2.JPG)
![sales user dpqs2i 12 2 10](https://user-images.githubusercontent.com/852384

[2021-06-17 18:32] Haqueraz commented on #42
Can you please share the screenshot with us so we can look further into this.

[2021-06-17 19:00] lindamrigo opened #57 "12.2.10 Sales Manager Dashboard -SR 3-26270330931"
The sales manager dashboard in 12.2.10 is not the same sales manager dashboard as 12.1.3.  They do not display the same information.

![sales manager dashboard 12 1 3](https://user-images.githubusercontent.com/85238444/122457427-a2411280-cf7c-11eb-9900-9ef7d1556dc1.jpg)
![sales manager dashboard 12 2 10](https://user-images.githubusercontent.com/85238444/122457445-a705c680-cf7c-11eb-9070-d6370c9d4

[2021-06-17 19:00] lindamrigo commented on #57
first screen shot is 12.1.3
second screen shot is 12.2.10
Same user

[2021-06-17 19:08] SherryXLiu commented on #51
In 12.1.3, DPQS2I with same data and same code, I have created party_id=1038337 and below relationships,
![image](https://user-images.githubusercontent.com/85246030/122457973-44f99100-cf7d-11eb-93af-10cffe2bb04b.png)

But in 12.2.10 DPQS2I, I got the party_id=1041264, but none of relationships

[2021-06-17 19:35] lindamrigo opened #58 "INT PBS GL Create Initial JE Errors"
Liz Fulton ran the PBS GL Amortization Schedule program and that finished fine and should have created new amortization schedules that would be picked up on the PBS GL Create Initial JE’s.
![Create Initial JE](https://user-images.githubusercontent.com/85238444/122461448-5e044100-cf81-11eb-9910-6b019e96b5d6.jpg)
[PBS GL Create Initial JE's Error.txt](https://github.com/Fujitsu-America/Fujitsu-Repos

[2021-06-17 19:56] Haqueraz commented on #57
Hi Linda,
We already aware about this page . Oracle has changed this page in R12.2.10 upgrade version.

Let us know if you have any queries.

Thanks
Razaul

[2021-06-17 20:02] lindamrigo commented on #57
What is the replacement page? The page currently displaying does not display any dashboard information.

[2021-06-17 20:02] lindamrigo commented on #57
The current page is not a dashboard. It is linked list page

[2021-06-17 20:13] Haqueraz commented on #57
We will check and let you know.

@amitjori @AkshayK247  Can you please check ,Is there is any way to  display any dashboard information.

Thanks
Razaul

[2021-06-17 22:25] Haqueraz commented on #58
Hi Linda,
We have fixed this issue in INT Instance.

Custom table pbs_gl_initial_je have a  unique contract on column contract ID.

I have put the exception so program will complete with Normal status.

Thanks
Razaul

[2021-06-17 22:34] Haqueraz commented on #56
Hi sherry,

Could you please help to Linda to get access this page.

Thanks
Razaul

[2021-06-17 22:44] Haqueraz commented on #58
![image](https://user-images.githubusercontent.com/84917836/122481028-96ad1600-cf93-11eb-88ae-a8d1edf6885c.png)

[2021-06-18 05:03] amitjori commented on #55
Hi Linda,

Can you please this now and confirm if Java look and feel looks good in INT 12.2.10 instance?

Regards,
Amit

[2021-06-18 05:04] amitjori commented on #50
Hi Linda,

Can you please ask Debbie to check this issue now and confirm?

Regards,
Amit

[2021-06-18 05:14] amitjori commented on #49
Hello Razaul/Team,

Can you please check this issue from your side?

Regards,
Amit

[2021-06-18 12:48] ashoksnapfj commented on #49
Hi Linda,

We are working on this. We will update once we are done.

Thanks
Ashok.T

[2021-06-18 13:20] lindamrigo commented on #55
This is now consistent with tpqs2i

[2021-06-18 13:20] #55 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, amitjori

[2021-06-18 13:23] lindamrigo commented on #7
SBS_CPQ_QUOTE_PKG is not listed in SOA Integration Repository

[2021-06-18 13:27] SherryXLiu commented on #42
I have sent some screenshot through email

![image](https://user-images.githubusercontent.com/85246030/122568021-4f686900-d017-11eb-824e-a334e8d2437b.png)
![image](https://user-images.githubusercontent.com/85246030/122568087-66a75680-d017-11eb-9d45-c913ca8f9c31.png)

[2021-06-18 13:29] SherryXLiu commented on #42
![image](https://user-images.githubusercontent.com/85246030/122568318-a0785d00-d017-11eb-9cf2-8684a21f6a09.png)

[2021-06-18 13:29] SherryXLiu commented on #42
12.1.3
![image](https://user-images.githubusercontent.com/85246030/122568419-b84fe100-d017-11eb-9dcb-e2a72638e4d0.png)

[2021-06-18 13:31] ashoksnapfj commented on #49
Hi Linda,
[PBS GL International Interface Process Set 49.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6677295/PBS.GL.International.Interface.Process.Set.49.docx)

This is resolved in INT. Please check and let us know.

Thanks
Ashok.T

[2021-06-18 13:31] SherryXLiu commented on #42
![image](https://user-images.githubusercontent.com/85246030/122568632-f3eaab00-d017-11eb-8c1f-baceb12ffb3d.png)

[2021-06-18 13:33] SherryXLiu commented on #42
![image](https://user-images.githubusercontent.com/85246030/122568897-3a400a00-d018-11eb-8b97-41bc20ef35fe.png)

[2021-06-18 13:34] SherryXLiu commented on #42
![image](https://user-images.githubusercontent.com/85246030/122569054-5a6fc900-d018-11eb-8c5f-99e58589db30.png)

[2021-06-18 14:40] lindamrigo commented on #50
Same issue - no change

[2021-06-18 14:54] lindamrigo opened #59 "INT Dollar amount now have commas"
Dollar amounts now have commas.  There should be no commas

[2021-06-18 14:55] lindamrigo commented on #59
this is a duplicate ticket

[2021-06-18 15:01] Haqueraz commented on #58
Hi Sherry ,
As discussed in in daily status call please find the attached updated scripts.
![image](https://user-images.githubusercontent.com/84917836/122580883-0ebf1e80-d01c-11eb-9dba-9b1bed75c0a7.png)

[pbs_gl_amort_cust_je_pkg.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6677824/pbs_gl_amort_cust_je_pkg.txt)

[2021-06-18 15:18] TinaGriffin commented on #7
Amit, I have found the instructions we used to deploy for the backend of the Quote pkg.  I'm uploading the zip file and a text file that were all included together in a folder I had.  Also I had a note that the non prod RFC # Non Prod RFC is : 3-7JOWDRQ.
[SBS_EBS_CPQ_HTMLQuote_Integration.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6677892/SBS_EBS_CPQ_HTMLQuote_Integration.txt

[2021-06-18 19:01] SherryXLiu commented on #58
Please indicate the line number of the code. Thanks

[2021-06-18 19:22] Haqueraz commented on #58
Please see the line # between 2970 to 2977 in the attached scripts .

![image](https://user-images.githubusercontent.com/84917836/122607634-7e470500-d040-11eb-99e5-b4cebbdfc365.png)

[2021-06-18 19:30] TinaGriffin commented on #7
I've also found this ..it looks like the installation to create a new ildt file is in the .sh file.  In the example I'm displaying here it was for the Snapshot. sh file, but you could do the same with the Quote .sh file.  Replace the Snapshot .sh with the Quote .sh

-bash-3.2$ sh SBS_CPQ_SNAPSHOT_INST.sh
/dpqs2i/applmgr/CUSTOM/xbol/12.0.0/install

 Changing permissions for all files
 Moving files

[2021-06-18 19:39] SherryXLiu commented on #58
The process showed an error, the cause was a TMP journal entry had not completed. I will close this issue, next time please do not change SBS program to fix none upgrade issues.
Thanks

[2021-06-18 19:39] #58 closed, assigned to vinaytalasila, Haqueraz, amitjori

[2021-06-18 20:07] Haqueraz commented on #49
Hi Linda,
Its looks like files has not imported correctly. I am looking some character in last of each line.

Can you please delete these file try to re-import in correct format.
FIle Path : /dpqs2i/12.2/INT/fs2/EBSapps/appl/xbol/12.0.0/inbound

![image](https://user-images.githubusercontent.com/84917836/122610356-1646ed80-d045-11eb-84f7-4010eb46b0df.png)

Thanks
Razaul

[2021-06-18 20:14] lindamrigo commented on #49
I believe that Debbie does not do anything to the file/format. But I have asked the question.

[2021-06-18 21:03] hamiltonmark opened #60 "INT 12.2.10 PO Requisition flowing directly to PO and not Autocreate - WF PO CREATE DOCUMENTS - Custom Value Overridden with Default Value"
**Describe the bug**
PO Requisition flowing directly to PO and not Autocreate - Possible Personalization Missing

**Instance Name**
Instance:  dpqs2i

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of

[2021-06-18 21:05] hamiltonmark commented on #60
Can you please verify attached Personalizations are present in INT for end user - PENNINGTONB?

[PERSONALIZATION SCREENSHOTS AUTOCREATE PO DEFAULTS.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6679369/PERSONALIZATION.SCREENSHOTS.AUTOCREATE.PO.DEFAULTS.docx)

[2021-06-18 21:14] Haqueraz commented on #60
Thank you  for sharing the documents .
We will verify the personalization and let you know if any help needed.

[2021-06-18 21:47] hamiltonmark opened #61 "INT 12.2.10 Entering Invoice Amount using AP Invoice Workbench - Amt defaulting to format 9999,(comma)99"
**Describe the bug**
Entering Invoice Amount using AP Invoice Workbench - Amt defaulting to format 9999,(comma)99

**Instance Name**
Instance:  dpqs2i

**Responsibility Name**
Responsibility:  PBS US Payables User

**Navigation**
Navigation:  Invoice Workbench

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2021-06-18 21:49] hamiltonmark commented on #61
Using AP Invoice Workbench - End User is trying to enter an invoice under batch name TESTBATCH06182101.

She was trying to enter dollar amount of $99.01.  Receives the following error message.  It appears there is a COMMA instead of a period in-between the dollars and cents.
If entering 99 without any cents it is fine or if I enter the value as 99,01.

![image](https://user-images.githubuserconten

[2021-06-18 22:40] Haqueraz commented on #51
Hi Sherry ,
Below scripts created the Relationship in INT:

------------------------------&&&&&&&&&&&&&&&&
DECLARE
V_DLRCODE VARCHAR2 (10);
V_OEM_PARTY HZ_PARTIES.PARTY_ID%TYPE := 611778; -- CUSTOMER #187387 – PARTY #811713
V_BU_PARTY_ID HZ_PARTIES.PARTY_ID%TYPE := 1030621; -- GENERAL MOTORS OPEL AUTOMOBILE (DIST) - 241787
V_3D_PARTY_ID HZ_PARTIES.PARTY_ID%TYPE := 85193; -- THE BILL TO CUSTOMER NU

[2021-06-18 22:44] Haqueraz commented on #61
Hi Mark ,
We will look into this and get back to you.

Thanks
Razaul

[2021-06-19 14:56] SomuSundaramM commented on #7
Hi Tina/Team,

We were able to successfully deploy the SBS_CPQ_QUOTE_PKG in STG instance by Recreating ildt files. Attached the screenshots for reference. Please check and confirm

[SBS_CPQ_QUOTE_PKG_success_deploy.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6680872/SBS_CPQ_QUOTE_PKG_success_deploy.docx)

Thanks,
Somu

[2021-06-21 09:41] SomuSundaramM commented on #9
Hi Linda,

We are now able to successfully get through the below page in Global licensing, Please check from your side and let us know if thiss working as expected.

![image](https://user-images.githubusercontent.com/85238833/122741014-0eb95b80-d274-11eb-9d07-94d1801fb1a9.png)

We've made the changes in oracle_apache.conf file to comment the security.conf as cross referenced from 12.1.3(httpd.conf

[2021-06-21 10:21] lindamrigo commented on #9
HI Somu
I get to that page too now. What was changed?  Functionality is not 100%. The Save button for a Regen is not working.

Linda

[2021-06-21 10:29] amitjori commented on #9
Hello Linda,

We commented the below line in 12.2.10 instance in oracle_apache_conf file which is equivalent to httpd.conf file in 12.1.3

oracle_apache.conf - Commented the security2.conf
< #include ${ORACLE_INSTANCE}/config/${COMPONENT_TYPE}/${COMPONENT_NAME}/security2.conf

can you please share the screen shot of the error that you are facing now?

Regards,
Amit

[2021-06-21 10:29] lindamrigo commented on #59
This is not a duplicate issue

[2021-06-21 10:42] lindamrigo opened #62 "INT Unable to drilldown from GL into AR"
Per Liz FultonUnable to drill down into AR from the GL.  In production, it usually gives me a message that I have to relog into Oracle, which I do from the message prompt, and then it goes thru the Java thing, and then pulls up the transaction in AR. So maybe related to all that……it just sits there
![GL to AR](https://user-images.githubusercontent.com/85238444/122749829-ca21c600-d25b-11eb-922a-a0a

[2021-06-21 11:37] ashoksnapfj commented on #61
Hi Mark,

Could you please test now and let us know your feedback, as i am able to create invoices with amount separator as "." .
[61#_INT_12.2_10_Invoice_Amount_format_issue.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6686295/61._INT_12.2_10_Invoice_Amount_format_issue.docx)

Thanks
Ashok.T

[2021-06-21 12:00] ashoksnapfj commented on #60
Hi Mark,

I verified any forms Personalizations are present in function "PO_POXBWVRP (PO Auto Create fomr
[60#_PERSO_PO_AUTO_CREATE.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6686438/60._PERSO_PO_AUTO_CREATE.docx)
)"  but there are no personalization.

Thanks
Ashok.T

[2021-06-21 12:05] hamiltonmark commented on #60
Ashok
We had this issue in the past during the OMCS to OCI Project in 2019.  I will look for any doc that I have on fixing it.
I realized the doc I sent you was from the 11i Project.  We fixed this issue with Personalizations.  If I remember correctly - during the OCI Project it was fixed with Profile Setup but I will confirm.

Thanks
Mark

[2021-06-21 12:15] lindamrigo commented on #49
I have attach
[SBS_INTL_GL_08_INR.zip](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6686498/SBS_INTL_GL_08_INR.zip)
![GL INR import text](https://user-images.githubusercontent.com/85238444/122760226-e415d580-d268-11eb-945d-b75eb4972d40.JPG)
ed the excel file from Debbie.  It does not have the ^M

[2021-06-21 12:22] TinaGriffin commented on #7
The SBS_CPQ_QUOTE_PKG deployment looks as expected now.  The only other thing I had to do was create the Grant to the CPQ_USER from the front end deployment.  STG looks good, can you make the same change in INT please.

[2021-06-21 12:26] hamiltonmark commented on #61
Thanks Ashok
End User - Grace - has reported....

Good Morning,
The formatting issue is fixed.  As I just tested this in INT 12.2.10.
Thank you for the quick turnaround.  Now I will proceed with the rest of my testing.
Thanks,
Grace

[2021-06-21 12:26] hamiltonmark commented on #61
This ticket can be closed.

[2021-06-21 12:51] lindamrigo commented on #59
This is now working

[2021-06-21 12:51] #59 closed, assigned to amitjori

[2021-06-21 13:03] #61 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, TinaGriffin, hamiltonmark

[2021-06-21 13:05] SherryXLiu commented on #51
I'll look at it

[2021-06-21 13:26] Haqueraz commented on #62
Could you please provide the navigation details and message screenshot.

[2021-06-21 13:32] hamiltonmark commented on #60
Ashok
Please see screenshots for the fix.
Thanks
Mark

[2021-06-21 13:32] hamiltonmark commented on #60
[SCREENSHOTS OF WF BUILDER PO CREATE DOCUMENTS JUN2021.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6686953/SCREENSHOTS.OF.WF.BUILDER.PO.CREATE.DOCUMENTS.JUN2021.docx)

[2021-06-21 14:31] TinaGriffin opened #63 "INT SOA Web Service SBS_CPQ_SNAPSHOT_PKG WADL erroring"
**Describe the bug**
The Web Service shows deployed, however, the WADL shows an error.

**Instance Name**
Instance: DPQS2I

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
WADL should return Snapshot web service call correctly.
[Uploa

[2021-06-21 14:47] TinaGriffin commented on #63
We might want to wait and see if the bounce for the Quote Web Service fixes this issue as well.

[2021-06-21 14:50] Haqueraz commented on #63
Hi Tina,
I am not able to open the attached docs file.
Could you please re-attached the same docs.
Thanks
Razaul

[2021-06-21 14:53] TinaGriffin commented on #63
I think it's because it's a word doc.  I have never been able to upload word docs to github.

[2021-06-21 14:53] TinaGriffin commented on #63
[Uploading INT 12.2.10 SOA Snapshot WADL failing.docx…]()

[2021-06-21 14:56] TinaGriffin commented on #63
[Uploading INT 12.2.10 SOA Snapshot WADL failing.xlsx…]()

[2021-06-21 14:58] TinaGriffin commented on #63
I tried to send it in Excel too...maybe it's my wifi I'm not sure.  They all just still saying "Uploading".  I'll send it via email and see if you can copy it into the ticket.

[2021-06-21 14:58] lindamrigo commented on #49
Debbie says this is working now

[2021-06-21 14:58] #49 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, suhas-deshpande, AkshayK247, lindamrigo, SomuSundaramM, amitjori

[2021-06-21 15:00] Haqueraz commented on #63
[INT 12.2.10 SOA Snapshot WADL failing.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6687580/INT.12.2.10.SOA.Snapshot.WADL.failing.docx)

[2021-06-21 15:02] Haqueraz commented on #63
Thank you Tina.
I have uploaded  the email attached docs ..

[2021-06-21 18:08] TinaGriffin commented on #16
Something curious about this issue.  In the screenshots I showed you before, 12.1.3 Prod was working and had the Quick Find.  I just got word from one of our end users that it is not there in production and I just rechecked and it is not there.  I will attach a new screenshot of 12.1.3 prod and you can compare it to the screenshot I posted earlier in Prod showing it was there.
[Uploading Issue 16

[2021-06-21 18:15] SherryXLiu commented on #51
use NULL to replace 'Y' is OK. Thanks

[2021-06-21 18:15] #51 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, SherryXLiu

[2021-06-21 18:33] Haqueraz commented on #16
Hi Tina,
It is still uploading..
Can you send it to me in email . I will upload it here.

Thanks
Razaul

[2021-06-21 18:38] TinaGriffin commented on #16
From: Haqueraz ***@***.***
Sent: Monday, June 21, 2021 2:34 PM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Griffin, Tina ***@***.***>; Assign ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] 12.2.10 STG Issue with IB (#16)

CAUTION: This email originated from outside of Snap-on. Do not click on links or open attachments unless you have validated the sender, even if it is

[2021-06-21 19:13] lindamrigo commented on #9
These are the jar files that are required to placed in $JAVA_TOP
![jar files](https://user-images.githubusercontent.com/85238444/122815255-3673e800-d2a3-11eb-847f-73869a10aa0b.JPG)

[2021-06-21 21:25] Haqueraz commented on #60
Hi Mark,

I have modified the workflow "PO Creation Documents"  to change default value from Y to N.

Please verify the changes in INT-12.2.10  and let me know if any queries.

Thanks
Razaul

[2021-06-21 21:49] hamiltonmark commented on #60
Thanks Razaul
I've asked end user to test.  Will let you know when I hear results.
Thanks
Mark

[2021-06-22 11:39] lindamrigo commented on #62
PBS US General Ledger Senior User 1, Account Inquiry, Accounting period of Apr-21, GL account 01.11.111.41001.1001.0000.00.

[2021-06-22 11:40] lindamrigo commented on #9
Activate Licenses/Deactivate Licenses and Save button  not working

[2021-06-22 11:49] lindamrigo commented on #56
This is working.

[2021-06-22 11:49] #56 closed, assigned to vinaytalasila, Haqueraz, amitjori, SherryXLiu

[2021-06-22 11:56] ashoksnapfj commented on #62
Hi Linda,

I am able to see drilldown in INT instance. Please check from your browser setting or anyorther issue.
attached file also for your reference.

Thanks
Ashok.T
[62_ INT_drilldown_GL_AR.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6694007/62_.INT_drilldown_GL_AR.docx)

[2021-06-22 12:09] hamiltonmark commented on #44
Can you please re-open this issue?
Not able to query Workflow Data in Status Monitor in INT 12.2.10.
Thanks
Mark

[2021-06-22 13:04] SomuSundaramM commented on #44
Hi Mark,

I've changed the settings again, it seems auto-config reverted the change which was corrected earlier. We will make a note of it in post autoconfig steps. Please check now and confirm its working or not.

Thanks,
Somu

[2021-06-22 13:04] lindamrigo commented on #62
Liz was able to drill down once her pop ups were allowed

[2021-06-22 13:04] #62 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-22 13:08] hamiltonmark commented on #44
Thanks Somu
I suspected Autoconfig.  It's reverted changes in the pass.

I've tested WF Status Monitor and it's back in business.
Thanks again.

[2021-06-22 13:09] hamiltonmark commented on #44
Ok to close this ticket.

[2021-06-22 13:09] #44 closed, assigned to vinaytalasila, Haqueraz, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-22 17:27] SomuSundaramM commented on #63
Hi Tina,

We just undeployed and redeployed the package, its working now both in INT and STG instance. Please check and confirm from your side.
![image](https://user-images.githubusercontent.com/85238833/122971776-f4b86f80-d37e-11eb-86e5-cb9fd172ba50.png)

![image](https://user-images.githubusercontent.com/85238833/122971904-174a8880-d37f-11eb-9671-a87cf059f364.png)

Thanks,
Somu

[2021-06-22 17:55] hamiltonmark commented on #60
End User - Brenda Pennington - has tested this Workflow change.
The PO Requisition flowed to Autocreate successfully as expected.
This now allowed her to approve it and then it flowed to a Purchase Order.

[2021-06-22 17:56] hamiltonmark commented on #60
Thank you all.
Ok to close this ticket.

[2021-06-22 17:57] TinaGriffin commented on #63
Great!  I was going to try that myself but didn't want to interfere with anything you were working on.  I'll let you know after I test it.

[2021-06-22 17:58] Haqueraz commented on #60
Thank you Mark!

[2021-06-22 17:58] #60 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, TinaGriffin, hamiltonmark

[2021-06-22 20:09] TinaGriffin commented on #63
I've retested in INT and STG and it is working now.  This can be closed.

[2021-06-22 20:38] Haqueraz commented on #63
Thank you for testing this.

[2021-06-22 20:38] #63 closed, assigned to vinaytalasila, Haqueraz, SomuSundaramM, amitjori

[2021-06-23 11:20] amitjori commented on #50
Hi Linda,

We have applied th patch suggested by Oracle in STG 12.2.10 instance, can you please ask user to rest and confirm?

SQL> select name from v$database;

NAME
---------
TPQS2I

SQL> select BUG_NUMBER,CREATION_DATE from ad_bugs where BUG_NUMBER='32018285';

BUG_NUMBER                     CREATION_DATE
------------------------------ ---------------
32018285                       23-JUN-21

R

[2021-06-23 11:22] lindamrigo commented on #50
Hi Amit
Debbie is out of the office until tomorrow.

Thanks
Linda

From: amitjori ***@***.***>
Sent: Wednesday, June 23, 2021 7:21 AM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Rigo, Linda M ***@***.***>; Assign ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] INT ADI Upload Error (#50)

CAUTION: This email originated from outside of Snap-on. Do not click on links or ope

[2021-06-23 14:33] lindamrigo commented on #9
Modified the jar file on Stage, ready for WLS bounce

[2021-06-23 16:06] TinaGriffin commented on #43
I was able to confirm your findings that it would only let you duplicate the quote header and lines if there are no unconfigured (red x) icons on the lines.  In fact, I was able to replicate the same in 12.1.3 INT.  You can close this issue now.

[2021-06-23 16:27] Haqueraz commented on #43
Thank you for update.

[2021-06-23 16:27] #43 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande, TinaGriffin

[2021-06-23 17:59] SherryXLiu opened #64 "Territory Export Error SR 3-26313785411"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance: INT

**Responsibility Name**
Responsibility:
![image](https://user-images.githubusercontent.com/85246030/123145587-fd667f80-d42a-11eb-8a53-719447415093.png)

**Navigation**
Navigation:
[Territory export Error.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6703981/Territory.expor

[2021-06-23 18:03] SherryXLiu commented on #64
Here is 12.1.3 result
![image](https://user-images.githubusercontent.com/85246030/123146392-cd6bac00-d42b-11eb-915f-58337cf6d3ed.png)

[2021-06-23 19:14] Haqueraz commented on #64
Hi Sherry,
It is showing different menu in my user.
![image](https://user-images.githubusercontent.com/84917836/123155138-57684480-d42d-11eb-9783-3516b610749c.png)

Thanks
Razaul

[2021-06-23 19:18] SherryXLiu commented on #64
Please use Christel McGee account

[2021-06-23 19:37] Haqueraz commented on #64
I have reset the password in INT:
User Name : MCGEE
Password : Fujitsu@123456

[2021-06-23 20:19] Haqueraz commented on #64
@amitjori Please check this issue.

Its looks like Popup blockers.

[2021-06-24 13:14] hamiltonmark opened #65 "INT 12.2.10 CANNOT ADJUST CASH RECEIPT APPLIED TO WRONG INVOICE NUMBER *** SR 3-26328804901 ***"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:   dpqs2i

**Responsibility Name**
Responsibility:   PBS CAD Receivables Cash Application

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of

[2021-06-24 13:16] hamiltonmark commented on #65
Please see Screenshot Document describing the issue:  INT 12.2.10 CANNOT ADJUST CASH RECEIPT APPLIED TO WRONG INVOICE NUMBER.docx
[INT 12.2.10 CANNOT ADJUST CASH RECEIPT APPLIED TO WRONG INVOICE NUMBER.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6709469/INT.12.2.10.CANNOT.ADJUST.CASH.RECEIPT.APPLIED.TO.WRONG.INVOICE.NUMBER.docx)

[2021-06-24 13:47] SherryXLiu opened #66 "Customer name field is too small"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:
INT

**Responsibility Name**
Responsibility:
Sales Manager > Opportunity
**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
![image](https://user-images.githubusercontent.com/85246030/123274115-38bb8

[2021-06-24 14:13] SherryXLiu opened #67 "Could export file be excel format"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:
INT, STG

**Responsibility Name**
Responsibility:
Sales Manager > Opportunity
**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
![image](https://user-images.githubusercontent.com/85246030/123278224-

[2021-06-24 14:13] hamiltonmark commented on #65
Found this hit on Google Search saying...

Previously in 12.1.3, user can change customer on a receipt without running create accounting on the receipt.
However, after the upgrade to 12.2.8 once a receipt has been allocated to a specific account/invoice and users try to reallocate, they get the below error :  "Please account the receipt before updating Customer details."

https://support.oracle.co

[2021-06-24 14:17] hamiltonmark commented on #65
Receipt form error: Please account the receipt before updating Customer details (Doc ID 2721888.1)

Document is saying...

Solution

This is expected functionality. Changing customer on receipt without running create accounting was creating data corruption in SLA for few instances.   Hence, functionality has been changed to make accounting mandatory before changing customer on receipt.

Looks like

[2021-06-24 14:23] SherryXLiu commented on #42
Just add a note here, in case we may go with the personalization.
Still see "Create Customer"
Sales Manager> Opportunity >Create Opportunity >Select Customer

![image](https://user-images.githubusercontent.com/85246030/123279647-0a8c7880-d4d6-11eb-8ba4-f975bb5eb0e1.png)

![image](https://user-images.githubusercontent.com/85246030/123279593-fcd6f300-d4d5-11eb-924a-1077c446ca19.png)

![image](https:

[2021-06-24 14:41] SherryXLiu opened #68 "Increase Display row number ***SR 3-26319190531***"
**Describe the bug**
A clear and concise description of what the bug is.
Currently in Production 12.1.3 can display 750, but in 12.2.10 only allow 100. It is critical to display at least 750.
**Instance Name**
Instance: INT, STG

**Responsibility Name**
Responsibility:
Sales Manager > Opportunity > Create personalize search
**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavi

[2021-06-24 14:44] Haqueraz commented on #67
@amitjori look into it.

[2021-06-24 15:47] Haqueraz commented on #66
Hi Sherry,

I have increase the customer name field size in both instance INT/STG.

![image](https://user-images.githubusercontent.com/84917836/123293304-7de3b980-d4d9-11eb-9298-f8360f616060.png)

Thanks
Razaul

[2021-06-24 16:35] Haqueraz commented on #65
Thank you Mark for Investigation.
Could you please go through this Doc ID 2054953.1

Yes ,As per oracle Note -create Accounting should be run before changing the customer.

[2021-06-24 16:47] hamiltonmark commented on #65
Thanks Razaul
Yes - per Doc ID 2054953.1 ... Can you please confirm the file versions to see if/what patch is needed?

Confirm the file versions listed above, by navigating to the directory where the file is and using:
strings -a $AU_TOP/resource/ARXRWRCT.plx |grep '$Header'

Thanks
Mark

Solution
1. Bug Summary

    Description
    If the user has "Applied" a receipt and the Customer Name and Num

[2021-06-24 17:00] Haqueraz commented on #67
Hi Sherry ,
Please follow the attached documents steps then you will be able to export the files in Excel Formats .

[Oracle file export in Excel format.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6710932/Oracle.file.export.in.Excel.format.docx)

[2021-06-24 17:41] Haqueraz commented on #65
File version in 12.210
![image](https://user-images.githubusercontent.com/84917836/123308400-39601a00-d4e9-11eb-8028-6130a671f837.png)

[2021-06-24 18:01] hamiltonmark opened #69 "INT 12.2.10 AP Payment Clearing not allowing to select more than one invoice to clear****SR 3-26314696811"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:   DPQS2I

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:   Payments > Entry > Payments >

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what yo

[2021-06-24 18:03] hamiltonmark commented on #69
Please see this Screenshots Doc of exact issue.

[INT AP Payment Clearing not showing more than one invoice.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6711260/INT.AP.Payment.Clearing.not.showing.more.than.one.invoice.docx)

[2021-06-24 18:42] Haqueraz commented on #69
Hi Mark ,
I replicated the same issue in 12.1.3.
After enter the 1st invoice you will be able to click the "Invoice overview" button.
When you click on second row then you have to clean the all the records.

![image](https://user-images.githubusercontent.com/84917836/123315036-e12d1600-d4f0-11eb-9bfd-d9b483ab28cc.png)

[2021-06-24 19:53] SherryXLiu commented on #67
That's will work. Thanks

[2021-06-24 19:53] #67 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, amitjori

[2021-06-24 20:53] hamiltonmark opened #70 "INT 12.2.10 AP Positive Pay File is failing – rdf output going to .txt instead of .out"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:

**Responsibility Name**
Responsibility:  PBS US Payment Processor

**Navigation**
Navigation:  Submit Job - PBS Positive Pay Process (US Bank)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear

[2021-06-24 20:54] hamiltonmark commented on #70
LOG ERROR:

+---------------------------------------------------------------------------+
Business Online: Version : 12.2

Copyright (c) 1998, 2013, Oracle and/or its affiliates. All rights reserved.

PBS_AP_POSPAY_USB_CONC_SH: PBS Positive Pay Process (US Bank)
+---------------------------------------------------------------------------+

Current system time is 24-JUN-2021 15:05:24

+------------

[2021-06-24 20:55] hamiltonmark commented on #70
1.	Shell Script - $XBOL_TOP/bin/PBS_AP_POSPAY_USB_CONC_SH.prog  - is calling rdf in CONCSUB
CONCSUB $1 SQLAP "PBS US Payment Processor" $3 WAIT=Y CONCURRENT PBS PBS_AP_POSPAY_USB > $TEMPFILE

2.	Report rdf exists…
[apdpqs2i@isbsashebsap4 US]$ hostname
isbsashebsap4
[apdpqs2i@isbsashebsap4 US]$ pwd
/dpqs2i/12.2/INT/fs2/EBSapps/appl/xbol/12.0.0/reports/US
[apdpqs2i@isbsashebsap4 US]$ ls -ltr PBS_AP_

[2021-06-24 21:17] hamiltonmark opened #71 "INT 12.2.10 AP Suppliers Report - shows 121,000 Pages of All Suppliers (Active/Inactive) no matter the Params # SR 3-26322628731"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:  dpqs2i

**Responsibility Name**
Responsibility:  PBS US Payables Manager

**Navigation**
Navigation:  Submit Report - Suppliers Report

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and conc

[2021-06-24 21:18] hamiltonmark commented on #71
Params:
![image](https://user-images.githubusercontent.com/85197361/123333751-24e34800-d510-11eb-80d8-95554b9a70d7.png)

[2021-06-24 22:10] Haqueraz commented on #71
Hi Mark,

Its look like you ran this report with default parameter values.

Can you run the same report with additional parameter values like supplier type, Supplier Name and date etc..

I ran for supplier type 'Company' but didn't get the records.
I ran for others parament supplier type 'Employee' and Site pay group 'Employee'. - No data found.

We will look for others scenario.

Thanks
Razaul

[2021-06-24 23:04] hamiltonmark commented on #71
I've run it with these params - Active Suppliers, where last updated from and to a date.
The report is 130 pages long.
It shows user created and last updated on 21-JUN-2021.
This cannot be correct.

![image](https://user-images.githubusercontent.com/85197361/123342989-d7baa280-d51e-11eb-993a-bb86c9a88ecb.png)

[Suppliers_Report_240621.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/file

[2021-06-24 23:35] hamiltonmark commented on #71
We are finding this end user is doing something that kicks off this job.
She is not submitting it so assuming it is being kicked off by some trigger.
Possibly these are updating the Supplier's Last Update Date?

DQM Serial Sync Index Program (DQM Serial Sync Index Program)

![image](https://user-images.githubusercontent.com/85197361/123345078-439f0a00-d523-11eb-80b0-89268493b8e4.png)

[2021-06-25 09:24] amitjori commented on #9
Hello Linda,

can you please re-test ,looks like this is working now.

After fixing the code with driver , we ran adcgnjar and bounced the services today after which this looks like working.

There are no more errors seen in oacore logs.

![image](https://user-images.githubusercontent.com/85238919/123402094-e9d82780-d596-11eb-8585-ea23ae5cd189.png)

Regards,
Amit

[2021-06-25 12:09] ashoksnapfj commented on #16
Update from Oracle
-------------------------------
When creating the responsibility, the application tied to the responsibility must be Install Base or the quick find option will not be available.
refer Quick Find Not Visible -- When Login To Custom Responsibility ( Doc ID 1301329.1 )
-------------------------------

[2021-06-25 12:31] TinaGriffin commented on #9
The internal url is not working https://ebstest2.snapbs.com

[2021-06-25 12:32] TinaGriffin commented on #9
https://ebstest2.snapbs.com/OA_HTML/ibeCZzpHome.jsp

[2021-06-25 12:53] TinaGriffin commented on #9
I've retested everything on the public tier. url (snaponbusinesssolutions) and all functionality is working there.  The private tier ...url (snapbs) it is not working.

[2021-06-25 12:57] SomuSundaramM commented on #9
Hi Tina,

In Private tier, we missed to do oacore bounce, can we do now to reflect the changes in private tier as well.

ETA 15 mins

Thanks,
Somu

[2021-06-25 14:17] lindamrigo commented on #50
Debbie just tried and it is not working.

[2021-06-25 14:18] lindamrigo commented on #50
Should Debbie be in TPQS2I and not DPQS2I for this?

[2021-06-25 14:21] SherryXLiu commented on #68
12.1.3
![image](https://user-images.githubusercontent.com/85246030/123438821-16903d00-d59f-11eb-836b-d42370e36f28.png)

[2021-06-25 14:27] amitjori commented on #9
Hello Linda/Tina,

Global Licensing is working on STG internal tier can you please now and confirm?

Regards,
Amit

[2021-06-25 14:28] amitjori commented on #9
![image](https://user-images.githubusercontent.com/85238919/123439827-a941d380-d5c1-11eb-913b-660d113578d8.png)

[2021-06-25 14:31] amitjori commented on #50
Hi Linda,

Please ask her to test in TPQS2I.

Regards,
Amit

[2021-06-25 14:48] SherryXLiu commented on #66
It looks good to me. I would keep it for users to see if it is ok for them. And I will close it later. Thanks

[2021-06-25 14:59] lindamrigo commented on #9
It is working on the private tier now

[2021-06-25 15:10] lindamrigo commented on #50
Debbie says this is not working in Stage either.

[2021-06-25 15:32] AkshayK247 commented on #42
Hi Sherry,

Please review the attached document for possible solutions.
we will discuss the same on Monday.
and all the personalization has done in STAGE Instance.

[Possible Solutions.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6717163/Possible.Solutions.docx)

Thanks,
Akshay

[2021-06-25 15:45] lindamrigo opened #72 "INT - unable to run PBS Label Batch Generation"
Throwing error
APP-FND-01388: Cannot read value for profile option CONC_KEEP_BLANK_FILES in routine &ROUTINE.

[2021-06-25 17:45] Haqueraz commented on #72
Hi Lina,
The profile name 'Concurrent: Keep Empty Output Files' expect value. It was empty  in INT . I have updated with  value "N'

This profile does not exists in 12.1.3 instance.

![image](https://user-images.githubusercontent.com/84917836/123463650-64ae3c00-d5b1-11eb-9233-9c220527392b.png)
![image](https://user-images.githubusercontent.com/84917836/123463705-72fc5800-d5b1-11eb-88cf-f09071413e3

[2021-06-25 18:51] lindamrigo commented on #72
This fixed this issue

[2021-06-25 18:51] #72 closed, assigned to vinaytalasila, Haqueraz, AkshayK247, amitjori

[2021-06-25 18:57] lindamrigo opened #73 "INT Labels PBS Label Batch Generation Throwing Error"
PBS Label Batch Generation Throwing Error
Error Message: ORA-00942: table or view does not exist

Responsibility SBS Labels Administrator >
Run Concurrent Batch Set >PBS Create Label Batch Set
Enter Parameters > OEM > CY
Product 1 > KIA NA EPC5 USB
Product 2 > KIA NA EPC5 USB
One Time Only Replicator > Richfield
Batch Version > 2021-07
Batch Date> 01-JUL-2021
Business Unit > Auto

[2021-06-25 18:59] lindamrigo commented on #73
[Labels Error.xls](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6718266/Labels.Error.xls)

[2021-06-25 20:00] TinaGriffin commented on #16
We will be creating separate responsibilities to break out the Contracts and Install Base. This can be closed.

[2021-06-27 06:45] amitjori commented on #50
Hi Linda,

Oracle has suggested the below action plan. I will complete step 1 and 2 and then we can ask end user to reproduce the issue so we can capture and upload logs to SR.

 If issue persists, please repeat the test above and capture a BNE log as follows (FYI...you will need to make sure Desktop Integration Manager - Create Integrator (WDF_CREATE_INTEGRATOR) menu function
exist in any of the

[2021-06-28 04:50] amitjori commented on #18
Hi Team,

Patch #32975482 has been applied in STG instance as suggested in SR "SR 3-26116952241 : Issue with Service contract form - OKSAUDET".

![image](https://user-images.githubusercontent.com/85238919/123581846-3bb5c300-d7cc-11eb-9122-c578540301ea.png)

Regards,
Amit

[2021-06-28 08:11] amitjori commented on #9
Hi Linda/Team,

Global Licensing issue has been fixed in INT 12.2.10 instance , can you please check from your side and confirm if all looks good?

![image](https://user-images.githubusercontent.com/85238919/123602179-028b4c00-d7e8-11eb-8c49-3b897bc9c337.png)

![image](https://user-images.githubusercontent.com/85238919/123602418-3cf4e900-d7e8-11eb-93bd-2bdb2ef3cfd1.png)

Regards,
Amit

[2021-06-28 10:28] suhas-deshpande commented on #18
@amitjori - I have tested this in STG and working as expected.

[2021-06-28 11:00] lindamrigo commented on #50
HI Amit
This sounds like a plan. Let me know when I can have Debbie retest.

Thanks
Linda

From: amitjori ***@***.***>
Sent: Sunday, June 27, 2021 2:45 AM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Rigo, Linda M ***@***.***>; Assign ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] INT ADI Upload Error - SR 3-26225604361 (#50)

CAUTION: This email originated from outside

[2021-06-28 11:28] lindamrigo commented on #9
Hi Amit
It is working.

Thanks
Linda

From: amitjori ***@***.***>
Sent: Monday, June 28, 2021 4:12 AM
To: Fujitsu-America/Fujitsu-Repository ***@***.***>
Cc: Rigo, Linda M ***@***.***>; Assign ***@***.***>
Subject: Re: [Fujitsu-America/Fujitsu-Repository] 12.2.10 Upgrade Issue for Global Licensing - SR 3-26091295071 : CETA-OCI-N iStore URL error (#9)

CAUTION: This email originated from outside of

[2021-06-28 11:41] hamiltonmark commented on #71
MOS Hit shows...

Why is the DQM Serial Sync Index Program Submitted Automatically? (Doc ID 577388.1)

Why does the "DQM Serial Sync Index Program" get submitted under my user id automatically?

Solution

Setting Data Quality Management (DQM) to Automatic causes this concurrent program DQM Serial Synchronization Index to run automatically in the back ground every time there is a party data create/

[2021-06-28 11:58] lindamrigo commented on #73
Product KIA NA EPC5 USB is now working but NISSAN EPC5 USB is not now. Friday both were not working. Still same error

[2021-06-28 12:12] hamiltonmark commented on #69
Payment Processor should be allowed to enter a payment for more than one invoice for a vendor.
Once the payment is entered then end user can select a supplier's invoice to be paid - this is working.
But form does not allow end user to enter another supplier's invoice to be paid under the same payment.
List of invoice numbers does not display a second time for the remaining invoices.

![image](http

[2021-06-28 12:21] TinaGriffin commented on #9
I have tested all the functions on both the Private url and Public url for both License Maintenance and Temporary License Maintenance and all functions are working.

[2021-06-28 12:38] lindamrigo commented on #73
Missed package from production
SBS_Label_Updates
![Prod SBS Label Updates](https://user-images.githubusercontent.com/85238444/123637638-3f594200-d7ec-11eb-95f4-084d5d9e9c81.JPG)
![DPQS2I SBS Label Update PKG](https://user-images.githubusercontent.com/85238444/123637643-41230580-d7ec-11eb-8fdc-0488c25a47af.JPG)

[2021-06-28 12:49] ashoksnapfj commented on #73
Hi Linda,

SBS_Label_Updates is there, but error is in package "PBS_LABEL_BATCH_GEN_PKG" and this is fixed in both the instances.
Please test now and let us know.

Thanks
Ashok.T

[2021-06-28 12:49] ashoksnapfj commented on #73
[73_PBS_Create_Label_Batch_Set.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6726339/73_PBS_Create_Label_Batch_Set.docx)

[2021-06-28 12:52] lindamrigo commented on #73
Can you copy the package from Prod to both INT and Stage?

[2021-06-28 12:57] ashoksnapfj commented on #73
Hi Linda,

No I changed in the package "PBS_LABEL_BATCH_GEN_PKG" by considering the stg/int  instances only,as this is already retrofitted. Means took from PROD only last time.

Now issue is fixed. Please test and let us know.

Thanks
Ashok.T

[2021-06-28 13:07] lindamrigo commented on #73
The package is missing in 12.2.10.  It needs to be there.  Is there a problem with copying it over?

[2021-06-28 13:10] ashoksnapfj commented on #73
Hi Linda,

While retrofit the package, there is some issue which is fixed now.

Thanks
Ashok.T

[2021-06-28 13:20] lindamrigo commented on #73
There is still a problem.  There is  missing package. The package needs to be there. The problem is NOT FIXED until all configurations run without error.  Please copy the package from 12.1.3 Production to all 12.2.10 instances.  See attached error log and screenshot
[INT Label Error.xls](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6726546/INT.Label.Error.xls)
[DPQS2I SBS Label Erro

[2021-06-28 13:21] lindamrigo commented on #73
![INT Label Error 6 28 21](https://user-images.githubusercontent.com/85238444/123643260-33707e80-d7f2-11eb-9266-f98ccc27d1b8.JPG)

[2021-06-28 13:22] hamiltonmark commented on #69
It has been reported to me - This issue is now happening in both 12.2.10 and 12.1.3 (Prod and non-Prods).
Is it possible that recent CPU Patch caused this issue?

[2021-06-28 13:23] lindamrigo commented on #73
![INT Missing Package](https://user-images.githubusercontent.com/85238444/123643561-81858200-d7f2-11eb-93b3-770593f76746.JPG)

[2021-06-28 13:48] ashoksnapfj commented on #73
Hi Linda,

INT is down and it is up now, just now I remigrated package "PBS_LABEL_BATCH_GEN_PKG".
Please re test now let me know.

Thanks
Ashok.T

[2021-06-28 14:06] lindamrigo commented on #73
Still erroring
![INT Invalid label package](https://user-images.githubusercontent.com/85238444/123650311-77668200-d7f8-11eb-87a0-8c44e032c433.JPG)
![INT Label Error 6 28 2021 10 04 AM EDT](https://user-images.githubusercontent.com/85238444/123650330-7afa0900-d7f8-11eb-94bb-b1ec2196379e.JPG)
![INT Missing Package](https://user-images.githubusercontent.com/85238444/123650335-7c2b3600-d7f8-11eb-8dac-

[2021-06-28 14:10] lindamrigo commented on #73
The package is invalid, SBS_LABEL_UPDATES package needs copied from production. It should have been dpqs2i but due to timing it was missed.
![Prod SBS Label Package](https://user-images.githubusercontent.com/85238444/123650910-0b384e00-d7f9-11eb-84e4-e75e93630660.JPG)

[2021-06-28 14:11] lindamrigo commented on #73
Error details log
[Report_Set_280621.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6726893/Report_Set_280621.txt)

[2021-06-28 14:33] ashoksnapfj commented on #73
Hi Linda,

I ran the request set (PBS Create Label Batch Set) with same parameters as per above screen shot. And all the programs has been completed successfully in the INT instance.
Please find the attached document with screen shots for submitted program and database object also.

could you please re-connect your database and also application then submit new program (please don't use copy ) and

[2021-06-28 14:36] Haqueraz commented on #16
Thanks you for the confirmation.

[2021-06-28 14:36] #16 closed, assigned to vinaytalasila, Haqueraz, TinaGriffin, SomuSundaramM, amitjori

[2021-06-28 14:50] lindamrigo commented on #73
The package is still invalid. This will not be closed until the package is valid as it is in production.
![INT Invalid after compilation](https://user-images.githubusercontent.com/85238444/123657173-910ac800-d7fe-11eb-9293-78e28262dc0c.JPG)

[2021-06-28 14:52] lindamrigo commented on #73
Also, why isn't the missing package in the INT instance? The date of the data says 4/18/2021 but the package was installed in production on 1/19/2021
![Production SBS Label Updates](https://user-images.githubusercontent.com/85238444/123657646-f9f24000-d7fe-11eb-8610-b36ed0154d26.JPG)

[2021-06-28 15:36] Haqueraz commented on #73
Thank you for joining the meeting request.
We are checking the DB objects and all looks good.
It looks like there is some issue in Toad.it is not getting the latest objects.

![image](https://user-images.githubusercontent.com/84917836/123663894-72a3cd00-d7fc-11eb-8bb6-6e6471a2ecfa.png)

[2021-06-28 17:06] amitjori commented on #65
Hi Mark,

Patch mentioned in the above note id is already applied in INT 12.2.10 instance.

![image](https://user-images.githubusercontent.com/85238919/123676219-2cb62b80-d833-11eb-92a0-17f71219e236.png)

Regards,
Amit

[2021-06-28 17:12] hamiltonmark commented on #65
Thanks Amit
If we are patched up and issue was not resolved - possibly we will need end user to run - Create Accounting - to work around.
I will ask her to run - Create Accounting to see if this fixes the issue.
Thanks
Mark

[2021-06-28 17:26] lindamrigo commented on #73
Resync'd Toad. now seeing package

[2021-06-28 17:26] #73 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-28 19:35] Haqueraz commented on #18
Hi Tina,

This issue has been fixed after applied the patch in STG Instance. Please check once and provide us your feedback.

Thanks
Razaul

[2021-06-28 19:42] Haqueraz commented on #66
Hi Sherry,

Please let us know if you get any update from user.

Thanks
Razaul

[2021-06-28 19:44] TinaGriffin opened #74 "INT All shippable order lines have status of 'Backordered' instead of Awaiting Shipping *** SR 3-26327577311 ***"
**Describe the bug**
Every time an order is booked.  The shippable lines go to Backordered when trying to do the Pick Release.

**Instance Name**
Instance: DPQS2I

**Responsibility Name**
Responsibility: PBS US Order Management Senior User

**Navigation**
Navigation: Orders/Returns.../Order Organizer

**To Reproduce**
Steps to reproduce the behavior:
1. Search Order Number 939878
2. Click on Open

[2021-06-28 19:45] TinaGriffin commented on #74
I've found this document which seems to be a direct hit.  It provides a workaround for 12.2.9 but I don't know what the solution is for 12.2.10
SALES ORDER LINE STATUS IS SHOWN AS "BACKORDERED" INSTEAD OF "AWAITING SHIPPING" IN R12.2.9 (Doc ID 2769459.1)

[2021-06-28 19:53] SherryXLiu commented on #66
I will meet user tomorrow afternoon, I will update it then.
Thanks

[2021-06-28 19:55] Haqueraz commented on #68
Hi Sherry,

As discussed in daily status Call. Oracle has changed the functionality in 12.2.10 upgrade and it has removed the dropdown list from row count filed and it has provided the text field to enter values between range 1 to 100.

Thanks
Razaul

[2021-06-28 20:17] Haqueraz commented on #74
Hi Tina,

We will look this issue and keep you updated.

Thanks
Razaul

[2021-06-28 20:45] Haqueraz commented on #71
Hi Mark ,
Please see our findings below :

We observed that, each time we run the report, same supplier site 56444P is displayed under all suppliers. Supplier – “TINAS TESTING” and  supplier site – “56444P” was created by RADUJKOVICL on 21st Jun for testing.
But somehow, this site is getting displayed under each supplier.

We are still investigating more and keep you updated.

[2021-06-28 20:57] Haqueraz commented on #69
@amitjori @SomuSundaramM Is there is any way to know this issue started after CPU patch applied in production.

Is this patch applied in 12.2.10?

[2021-06-28 21:10] Haqueraz commented on #64
Hi @amitjori
As discussed ,please look this issue on priority. If you wish then we can open the SR for this issue.
In my primary investigation. "About this page" showing the below message

A popup window blocker has been detected in your browser. Popup blockers interfere with the operation of this application.

***************************************************************
<!DOCTYPE HTML><html di

[2021-06-28 21:59] SherryXLiu commented on #68
Is possible to create SR?

[2021-06-28 23:21] Haqueraz commented on #74
Hi Tina,
I observed that ,supply/demand form not displaying  the available quantity for this item.
For the testing  I have created Miscellaneous receipt transaction for the same Sub inventory & locator and it has also not display in the supply/demand form.
Then, we found the issue in subinventories status. when changed to status in 'Active'. Then it is populating on-hand on supply/demand form.

Ol

[2021-06-29 03:57] amitjori commented on #64
Hi Team,

SR has been opened for this issue - SR 3-26313785411 : Territory Export issue in 12.2.10

Regards,
Amit

[2021-06-29 04:57] amitjori commented on #70
Hello Mark,

As per oracle doc id 2435024.1 we have changed the APPCPNAM parameter from REQID to REQID.OUT in $CONTEXT_FILE.

Can you please re-test this issue and let us know if this helps?

Regards,
Amit

[2021-06-29 05:08] amitjori commented on #18
Hi Team,
As discussed in yesterday's daily call patch #32975482 has been applied in INT instance as suggested in SR "SR 3-26116952241 : Issue with Service contract form - OKSAUDET".

![image](https://user-images.githubusercontent.com/85238919/123740502-155d5980-d898-11eb-84fd-2e7fb31fefd3.png)

Regards,
Amit

[2021-06-29 05:34] amitjori commented on #69
Hello Team,

JAN2021 PSU has not been applied in INT12.2.10 instance.

SR has been raised for this issue - SR 3-26314696811 : AP Payment Clearing not allowing to select more than one invoice to clear

Regards,
Amit

[2021-06-29 13:18] ashoksnapfj commented on #57
============== below is update from oracle ==========
Hi Ashok,

I could see the same behavior in internal instances.
Looks like Sales Manager Dashboard belongs to Oracle Sales Intelligence which is related to DBI and it is discontinued from 12.2.

I have mailed to Sales Dev about the difference in 12.2. Will confirm you as soon as i hear from them.

Regards,
Vignesh
==============================

[2021-06-29 13:24] suhas-deshpande commented on #71
@hamiltonmark -

Hi Mark, I tried running this report for particular supplier and it returns the correct data. I also tried few other combinations and data was returned as expected. Only when we run this report for date range, it is having issues. At the same time, this report is running fine in STG instance. While I am still looking into this issue further, I also suspect there might be some issu

[2021-06-29 14:14] AkshayK247 commented on #52
We have upload the file on the SR and following up with Oracle.

Regards,
Akshay

[2021-06-29 14:33] hamiltonmark commented on #70
Positive Pay Process is now working successfully.
See attached docx containing Log and Email.
Thank you for your help on this.

[RE Positive Pay Process failed - Please re-test in INT 12.2.10.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6734228/RE.Positive.Pay.Process.failed.-.Please.re-test.in.INT.12.2.10.docx)

[2021-06-29 14:33] hamiltonmark commented on #70
Ok to close ticket.

[2021-06-29 14:55] TinaGriffin commented on #18
I've retested this in STG and INT and it is resolved now.  This can be closed.

[2021-06-29 15:03] Haqueraz commented on #18
Thank you for update!

@amitjori please add this patch in your upgrade documents.

[2021-06-29 15:03] #18 closed, assigned to Haqueraz, suhas-deshpande, AkshayK247, SomuSundaramM, amitjori

[2021-06-29 16:48] hamiltonmark opened #75 "INT 12.2.10 Profile Option - Concurrent: Auto-refresh View Request Timer (secs) – is currently set to Null."
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:  dpqs2i

**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screensh

[2021-06-29 16:50] hamiltonmark commented on #75
Profile Option - Concurrent: Auto-refresh View Request Timer (secs) – is currently set to Null.
What is best possible setting as to not affect performance?

![image](https://user-images.githubusercontent.com/85197361/123837163-84f33900-d8d8-11eb-9489-f1ac8552128a.png)

When the Auto Refresh check box is selected, the form will refresh the list of requests after a specified interval measured in sec

[2021-06-29 17:46] Haqueraz commented on #75
Hi Mark,
Thank you for sharing the Oracle Notes.

I have set the Profile Option - Concurrent: Auto-refresh View Request Timer (secs)  at 5 sec in both instance INT/STG.
This is a new profile in 12.2.10 .it does not exists in 12.1.3 instance.

It is working as expected . Please verify the and let me know if any queries.
![image](https://user-images.githubusercontent.com/84917836/123843715-d2bb7180-

[2021-06-29 17:50] hamiltonmark commented on #75
Thanks Razaul

I am curious to see of it has an effect on performance.  The doc I referenced is from 2019 and it states -
"The solution that worked was to set the system profile to Concurrent: Auto-refresh View Request Timer (secs) to zero from the value of 20."

Unless there has been fixes - if it does have adverse effect - we may need to set it to zero.
We will monitor.

[2021-06-29 18:11] Haqueraz commented on #75
Sure Mark, Will monitor the performance issue.

This profile option only workable for the View->Request form and NOT affect other Oracle java forms.

[2021-06-29 18:50] hamiltonmark commented on #71
Suhas
I submitted the report to list simply - Active Suppliers.
See attached report showing just the first 10 pages.
The supplier - 3I Infotech shows as the supplier for the first 2000+pages along with Sites from all different other suppliers.
This supplier only has 2 active sites but it shows on 2000+ pages.

Can you verify we have the latest report version?

This report seems to have some issues

[2021-06-29 19:11] SherryXLiu commented on #42
Thanks it looks very good.
After verifying Sales Representatives' responsibility, I see they are using "Sales User" which 12.2.10 has same functions as 12.1.3 version.
In order not interrupting Upgrade, we like to cancel this plan for now and hold this solution for future to use.  If users request something else, I will let you know,
Thanks

[2021-06-29 19:11] #42 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande, AkshayK247, SherryXLiu

[2021-06-29 19:14] TinaGriffin commented on #74
I checked in INT 12.1.3 and our subinventory is set up the same "Active : Available for Netting and Reservations".  So I wouldn't think this is the issue.  I really feel like we need an SR on this one as it is holding up our testing right now.

[2021-06-29 19:35] Haqueraz commented on #74
Ok.. We will open the SR for this issue.

But meanwhile could you please create a new order for the same item/subinventories/locator in 12.1.3.

[2021-06-29 20:07] TinaGriffin commented on #74
Order 936955 has been created in 12.1.3 INT.  After I booked the order, the 265-0199 changed to Awaiting Shipping Lines status as expected.

[2021-06-29 20:08] TinaGriffin commented on #74
Do you want me to do the Pick Release or do you want to look at it first?

[2021-06-29 20:12] Haqueraz commented on #74
I am looking .. Pick Release not needed now..

[2021-06-29 20:21] TinaGriffin commented on #74
I've created an order in INT 12.2.10, order # 939883.  After I booked the order, the 265-0199 changed to Awaiting Shipping Lines status as expected.

[2021-06-29 20:22] TinaGriffin commented on #74
So booking the order appears the same in both 12.1.3 and 12.2.10.  It's the picking that backorders it.

[2021-06-29 20:27] hamiltonmark commented on #65
End user - Millice - has run Create Accounting as a Temporary Workaround.
Below is her response...

![image](https://user-images.githubusercontent.com/85197361/123862783-c8f53680-d8f6-11eb-8d46-09c31a6dbdc8.png)

I responded with - We are still pursuing a permanent fix.

[2021-06-29 20:36] hamiltonmark commented on #71
Suhas
I submitted the report to list - Active Suppliers created or changed in JUN 2021.
Report shows 183 pages.   Way too many.  I was expecting less than 5 suppliers added or changed.
I saved report to a pdf... see below.

[Supplier Report Active Created or Updated in Jun 2021.pdf](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6736299/Supplier.Report.Active.Created.or.Updated.in.Jun

[2021-06-29 21:20] Haqueraz commented on #74
I have created new order for this item. every thing looking  fine to me.
This is really strain.. we are raising the SR for this issue.

![image](https://user-images.githubusercontent.com/84917836/123868545-78310e00-d8f5-11eb-9db5-290454cfc3fe.png)

[2021-06-29 21:29] Haqueraz commented on #65
We are going to open the SR for permanent solution.

[2021-06-29 21:46] Haqueraz commented on #70
Thank you !

[2021-06-29 21:46] #70 closed, assigned to vinaytalasila, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-06-29 21:52] Haqueraz commented on #68
we have open the SR for this issue . will keep you updated.

[2021-06-30 04:58] suhas-deshpande commented on #71
@hamiltonmark  - Hi Mark, From Oracle support, I found that sometimes this report has issues when run for date range parameters. I have raised SR 3-26322628731 and provided them the requested information. Will update you as I hear back from them.

[2021-06-30 12:27] suhas-deshpande commented on #74
I have raised SR 3-26327577311 for this issue.

[2021-06-30 12:29] suhas-deshpande commented on #71
Oracle support shows that report has some issue when system is upgraded. I have raised SR 3-26322628731 and provided them required details. Will update once I hear back from Oracle.

Thanks,
Suhas

[2021-06-30 13:12] ashoksnapfj commented on #71
============== update from oracle --------------------
Regarding your comments given below , I want to clarify one thing -

12.1.x - Patch 30624396:R12.AP.B : TOP ACCOUNT: SUPPLIERS REPORT IS DISPLAYING EVERY SITE FOR EACH SUPPLIER
12.2.x - Patch 30624396:R12.AP.C : TOP ACCOUNT: SUPPLIERS REPORT IS DISPLAYING EVERY SITE FOR EACH SUPPLIER

--- Report is not displaying every site for each supplier f

[2021-06-30 13:23] ashoksnapfj commented on #52
================ below oracle update==================
Thank you for the update. Since this button is missing only post upgrade to 12.2.10, I will have to validate the upgrade logs to begin with.

I am reviewing the upgrade logs and shall update the SR.
================ below oracle update==================

[2021-06-30 13:59] hamiltonmark commented on #74
Yes - below is confirmation that SBS has customized OEOH and OEOL Workflows.
Thanks
Mark

![H_1 OEOH](https://user-images.githubusercontent.com/85197361/123972789-2cc83f80-d989-11eb-982d-7bcbf4af8324.gif)
![L_2 OEOL](https://user-images.githubusercontent.com/85197361/123972854-3782d480-d989-11eb-8295-51a3894e122b.gif)

Here is OEOL broken out...

![L_2_1 SCHEDULE LINE](https://user-images.githubus

[2021-06-30 14:15] lindamrigo opened #76 "INT Remove Sales Snapshot button from Update Customer Form"
Navigation
sales user>sales dashboard>customers
enter 00926 for Account click go
select guaranty chevrolet
button in upper right corner

![Sales Snapshot](https://user-images.githubusercontent.com/85238444/123976442-24bdcf00-d98c-11eb-8d92-aab378e87905.JPG)

[2021-06-30 14:16] lindamrigo commented on #76
Remove Sales Snapshot button

[2021-06-30 14:27] Haqueraz commented on #74
Thank you Mark for confirmation.

[2021-06-30 14:57] Haqueraz commented on #76
Hi Linda,
We did all OAF personalization in STG instance and planning to import into INT  tonight.

we will remove the 'Sales Snapshot' button also.

Thanks
Razaul

[2021-06-30 15:02] SherryXLiu commented on #66
This can be closed. Thanks for fixing it

[2021-06-30 15:02] #66 closed, assigned to vinaytalasila, Haqueraz, AkshayK247

[2021-06-30 15:10] hamiltonmark commented on #71
Per request in morning mtg ...  Reminder: STG Testing

1.  In STG 12.2.10 - added a new Supplier
Supplier Name: TEST TEST TEST SUPPLIER
Supplier Num: 56444

Ran Supplier Reports twice with diff params.

2.  Here is report with selecting 56444 only.
Results: Looks as expected.

[STG Suppliers_Report_300621 with New Supplier TEST TEST TEST SUPPLIER.txt](https://github.com/Fujitsu-America/Fujitsu-Rep

[2021-06-30 15:10] SherryXLiu commented on #57
@lindamrigo @vinaytalasila
Garnett has confirmed that they DO NOT need those charts/dashboard. The Sales Manager (12.2.10) page is OK without them

[2021-06-30 15:23] SherryXLiu opened #77 "Sales Personalize View issue ***SR 3-26319190531***"
**Describe the bug**
A clear and concise description of what the bug is.
Garnett has personalize view on Opportunity that has over 100 records. The view after upgrade (12.2.10) in INT/STG behave different. when click Opportunity link, it show error or blank page as attached

**Instance Name**
Instance: INT/STG

**Responsibility Name**
Responsibility:
PBS US Sales Support Admin
PBS CAN Sales Suppor

[2021-06-30 15:35] SherryXLiu opened #78 "ERROR FRM-40010 under opportunity"
**Describe the bug**
A clear and concise description of what the bug is.
Login as BORCHARDT a few forms cannot open. please see attached file
**Instance Name**
Instance:
INT/STG
**Responsibility Name**
Responsibility:
PBS US Auto Sales Manager
**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Exp

[2021-06-30 15:44] SherryXLiu opened #79 "What make it different?"
**Describe the bug**
A clear and concise description of what the bug is.
Why Sales Responsibility Sales Manager under my account LIUS is complete different from BORCHARDT

**Instance Name**
Instance:
INT
**Responsibility Name**
Responsibility:

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Ex

[2021-06-30 16:07] lindamrigo commented on #76
The button is still in the Stage instance.  User walden/2021YouthSportsNow

[2021-06-30 16:27] Haqueraz commented on #78
Hi @amitjori
Please check why many folder is missing in  $AS_TOP including forms folder.

![image](https://user-images.githubusercontent.com/84917836/123997425-0066f000-d996-11eb-84b3-f21f802598d8.png)

Thanks
Razaul

[2021-06-30 16:41] Haqueraz commented on #79
Hi Sherry,
We have same responsibility name 'Sales Manger ' under many Application.

your user have 'Sales Manager' responsibility  which are in under 'Sales' Application and BORCHARDT have same responsibility which are in under 'Sales Foundation'.

![image](https://user-images.githubusercontent.com/84917836/123998935-951e1d80-d997-11eb-8264-22ed18ae8386.png)
![image](https://user-images.githubuse

[2021-06-30 17:10] Haqueraz commented on #77
Hi Sherry,
I am able to go on next page after clicking the opportunity link.

![image](https://user-images.githubusercontent.com/84917836/124002024-e4b21880-d99a-11eb-9f52-88b6aa0bead5.png)
![image](https://user-images.githubusercontent.com/84917836/124002166-04e1d780-d99b-11eb-8929-9ef38855cfce.png)

Can you please asked to user to update the row count (max -100 ) in saved search personalize.

We

[2021-06-30 17:25] SherryXLiu commented on #79
That makes sense. Thanks

[2021-06-30 17:25] #79 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz

[2021-06-30 17:33] Haqueraz commented on #76
Yes. will remove from stage also.

[2021-06-30 18:17] SherryXLiu commented on #77
We have tried and she is not able to change the display number. Can you do it?
What browser do you use?

[2021-06-30 18:18] Haqueraz commented on #71
Thank you mark for replicate the issue in Stage.
This is a bug in report. will update the SR accordingly.

[2021-06-30 18:24] Haqueraz commented on #77
I am using Chrome.
Can you please share Garnett user /password then I can try to change display number.

[2021-06-30 18:25] Haqueraz commented on #77
Also try to create the new save search and delete the existing one.

[2021-06-30 18:28] SherryXLiu commented on #77
So you went to next page is not from her personalize view? I don't have her password. I will let her to provide her password

[2021-06-30 18:39] Haqueraz commented on #77
I used my user and sample search opportunity name  2021%,  , can you try from your user then see ,  you also facing same issue.
This should not be user specific.

[2021-06-30 18:45] SherryXLiu commented on #77
I see. It is only her personal view issue

[2021-06-30 18:49] Haqueraz commented on #77
We will check when get her user/password.

[2021-06-30 18:58] hamiltonmark commented on #69
SR 3-26314696811 : AP Payment Clearing not allowing to select more than one invoice to clear

Oracle Support is saying the following…

Dear Customer,

Acknowledging your update.

Possibly, the supplier invoices are enabled for Pay Alone. Thus, the application is not allowing you to choose the next invoice for payment by the same check.
This is intended behavior.

Please verify the reported issue f

[2021-06-30 18:59] SherryXLiu commented on #77
@Haqueraz Garnett password sent to you by email

[2021-06-30 19:46] Haqueraz commented on #77
Hi Sherry,

I observed that display records over 100 it show blank page when clicking  on any link or button on this page even clicking on Personalize button also .

But , when you go through the dropdown list then search for a customer for less than 100 records  then it allow to go next page.

I am looking alternate way to change  the row count.

![image](https://user-images.githubusercontent.com

[2021-06-30 19:49] hamiltonmark commented on #65
FYI - After Millice tested a JPMorgan Lockbox Import which imported more lockbox cash receipts.  She reports the following...

"As I am working in the USD batch I just imported, I am having to create accounting as the workaround for some of the transactions as expected.  For some of the transactions like the screenshot below, I get stuck in a loop.  The system keeps asking me to Create accounting,

[2021-06-30 20:00] Haqueraz commented on #68
Oracle Support comments :

"Row Count" is not a personalizable field due to performance implications of allowing users to display more than 100 records in a single search.
Hence, this is an expected functionality.
Indeed, the following tip shown below the field is hardcoded: "Enter a value between 1 and 100".

[2021-06-30 20:20] SherryXLiu commented on #77
I don't have an objection on about go to next page from initial search 2021% list or small list. I can also create a new personal view without issue.
But users have many personalize views and they even save the history views for future using. How to make the views working after upgrade?
I still hope Oracle can resolve it.
Meanwhile, Can you change existing views row number from 750 to 100? With th

[2021-06-30 21:08] SherryXLiu commented on #68
In fact it is not Simple Search, it is Personalize view

[2021-06-30 21:10] Haqueraz commented on #68
Yes.

[2021-07-01 05:33] suhas-deshpande commented on #71
@amitjori @SomuSundaramM  - Hi Both, Oracle has suggested to apply patch  "30624396:R12.AP.C" for this issue as per the SR number in subject. Can you please do the needful in INT and let me know so that I can test ?

Thanks,
Suhas

[2021-07-01 05:46] amitjori commented on #71
Hello Team,

Can this issue be replicated in STG so we can apply the patch first in STG instance.

Else let us know if the patch can be applied directly in INT instance.

Regards,
Amit

[2021-07-01 06:14] suhas-deshpande commented on #71
@amitjori - As discussed, you can apply patch in STG first as issue replicated in both instances.

[2021-07-01 08:43] amitjori commented on #71
Hi Team,

Patch applied in STG instance, please test the issue now.

![image](https://user-images.githubusercontent.com/85238919/124094545-67dd7800-da48-11eb-98c9-ce3cbcc125c1.png)

Regards,
Amit

[2021-07-01 08:45] amitjori commented on #7
Hi Team,

Below is the latest update from Oracle.

Hi Amit,
Sorry for the delay in response .
I am currently working in an internal instance to try and figure this out .But no matter what I am doing the issue is not getting reproduced .

This is most likely caused by something in the environment .Would it be possible to refresh this environment and then try from the scratch ?
The reason why I am s

[2021-07-01 09:14] AkshayK247 commented on #52
=================Update from Oracle=================

Hi Team,

Can you check if function "IEX: Read/Write mode of Customer Standard Form" is attached to the responsibility from which you are querying?

1) Navigate to System administrator -> Security-> Responsibility -> Define

2) Query your responsibility and note down the Menu name.

3) Navigate to System administrator ->Application->Menu

4) Qu

[2021-07-01 09:24] AkshayK247 commented on #52
Hi Team,

As suggested by Oracle I have attached the function 'IEX: Read/Write mode of Customer Standard Form" to the responsibility "SBS Collection Agent" and it is working as expected. Now Create Contact button and save, apply buttons are visible on the Customer Page.

I have done this changes on both INT and STAGE. Kindly verify the same.

Please review the attached document for details.
[Enabl

[2021-07-01 10:03] amitjori commented on #78
Hello Razaul,

I compared this with existing 12.1.3 production the directory structure is same , below is the screen shot.

![image](https://user-images.githubusercontent.com/85238919/124106081-69606d80-da53-11eb-9ddb-9b62092c36f1.png)

Regards,
Amit

[2021-07-01 12:02] hamiltonmark commented on #52
Akshay
In INT - when I initially go in to test this ....

![image](https://user-images.githubusercontent.com/85197361/124121228-a5d79d80-da42-11eb-91e0-d7dc4d77dfaa.png)

I get the following error.... and it kicks me out to the Menus ...

![image](https://user-images.githubusercontent.com/85197361/124121184-948e9100-da42-11eb-950b-5526dde8fe0f.png)

[2021-07-01 12:04] hamiltonmark commented on #52
WHen I try to use Search....

![image](https://user-images.githubusercontent.com/85197361/124121515-fb13af00-da42-11eb-8f28-eb3c433e7be4.png)

I get the following...

![image](https://user-images.githubusercontent.com/85197361/124121477-ed5e2980-da42-11eb-82eb-baffc23e557a.png)

[2021-07-01 12:21] AkshayK247 commented on #52
Hi Mark,

Please try now.

[2021-07-01 12:31] hamiltonmark commented on #71
Amit
Suppliers Report testing in STG - Looks Good!
Can you please apply patch in INT so I can ask end users to test?
Thanks!
Mark

[STG Suppliers_Report_010721 using LASTUP DATE Results SUCCESS 01JUL2021 POST PATCH.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6748047/STG.Suppliers_Report_010721.using.LASTUP.DATE.Results.SUCCESS.01JUL2021.POST.PATCH.txt)
[STG Suppliers_Report_01

[2021-07-01 12:37] hamiltonmark commented on #52
Akshay
INT Testing - Looks Good!
I will ask end users to test.
Thanks for your work on this...
Mark

![image](https://user-images.githubusercontent.com/85197361/124125218-5b0c5480-da47-11eb-96d2-1066278a9142.png)

Contact TEST TEST added below.

![image](https://user-images.githubusercontent.com/85197361/124125299-737c6f00-da47-11eb-8e5d-772419d77e88.png)

[2021-07-01 12:47] TinaGriffin commented on #77
We had this same issue when we went to Release 12.  I was able to fix the issue then.  I'm attaching a document of screenshots I used at the time so you can see if this is an option again now.

[2021-07-01 13:18] suhas-deshpande commented on #65
Oracle has asked for the files which I have uploaded to SR. Waiting for their reply.

[2021-07-01 13:19] suhas-deshpande commented on #74
We have provided the required files to Oracle SR. Waiting for their reply.

[2021-07-01 13:29] suhas-deshpande commented on #65
Latest update from Oracle -
-------------------------------------------------------------------------------------------------------------------------------------------------   An automated process has reviewed the Receipt Analyzer uploaded, ARRCTANLZ_Analyzer_DPQS2I_2021-07-01_05_40.html.   It identified 1 error/s and 3 warning/s.     You are advised to review all the Errors and Warnings identifie

[2021-07-01 14:13] Haqueraz commented on #77
[SBSOBS-146 Sales Leads and Oppys view creations need to allow for more than 25 rows.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6748763/SBSOBS-146.Sales.Leads.and.Oppys.view.creations.need.to.allow.for.more.than.25.rows.docx)

[2021-07-01 14:19] suhas-deshpande commented on #74
Hi All,

Severity of SR is raised to P1.

[2021-07-01 14:35] hamiltonmark commented on #75
Thanks Razaul
This ticket can be closed.

[2021-07-01 14:37] Haqueraz commented on #75
Ok . Thank you !

[2021-07-01 14:39] hamiltonmark commented on #69
I've sent the following email onto AP End Users....

Mark P
Unfortunately – CPU patches have been applied to all non-prod and prod instances…
So I do not believe we’ll ever get to the bottom of this.

I’ve written a script showing Suppliers and Supplier Sites where Pay Alone is checked on
And gave the results.  I’ve run it in diff instances.  Script is returning about 50 Suppliers where Pay Alone

[2021-07-01 14:39] hamiltonmark commented on #69
This ticket can be closed.
Thanks
Mark

[2021-07-01 14:40] SherryXLiu commented on #78
I have checked 12.1.3 the forms have same error. He must not use it and we can let it go.

[2021-07-01 14:40] #78 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, amitjori

[2021-07-01 14:41] Haqueraz commented on #57
Thank Sherry for the confirmation. I am closing this issue.

No action required. User are agree to go with new standard page.

[2021-07-01 14:41] #57 closed, assigned to vinaytalasila, Haqueraz, AkshayK247, amitjori

[2021-07-01 14:45] Haqueraz commented on #69
Thank you Mark for confirmation.

[2021-07-01 14:45] #69 closed, assigned to vinaytalasila, Haqueraz, TinaGriffin, hamiltonmark

[2021-07-01 14:48] #75 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, TinaGriffin, hamiltonmark, lindamrigo, SherryXLiu

[2021-07-01 15:40] lindamrigo opened #80 "INT - Saved favorites go to 12.1.3 Production"
Saved favorites return application control to 12.1.3 Production from 12.2.10 INT.
![INT Saved Favorites](https://user-images.githubusercontent.com/85238444/124151983-1a213980-da61-11eb-8c99-cf375671712a.JPG)
![Saved Favorites returned to Production](https://user-images.githubusercontent.com/85238444/124151994-1beafd00-da61-11eb-8cb0-c81b2792f4a0.JPG)

[2021-07-01 15:51] lindamrigo commented on #80
Also missing the ability to manage favorites
![manage favorites](https://user-images.githubusercontent.com/85238444/124153723-bb5cbf80-da62-11eb-84f0-71a675820731.JPG)

[2021-07-01 17:33] SherryXLiu commented on #64
The Export is passed, but after change and upload it back, the process is  stopped
![image](https://user-images.githubusercontent.com/85246030/124166502-e8b06a00-da70-11eb-9f65-7860f4f3bbab.png)

[2021-07-01 17:37] lindamrigo opened #81 "INT PBS Sales Reports - SBS IB To SVC Extract - runs for over 2 hours"
INT 12.2.10 PBS Sales Reports - SBS IB To SVC Extract - runs for over 2 hours. In 12.1.3 it runs for 3 minutes
responsibility - PBS Sales Reports
single request
SBS IB To SVC Extract
No parameters

[2021-07-01 19:56] SherryXLiu commented on #77
Here is what Tina add
![image](https://user-images.githubusercontent.com/85246030/124182471-e5bf7480-da84-11eb-8349-125a4946340a.png)

[2021-07-01 20:07] Haqueraz commented on #77
This lookup used for the Dropdown list on Row count field. Now oracle not providing the list on this field.
We asked the question from the Oracle about change the row count for existing saved search.

[2021-07-01 20:22] SherryXLiu commented on #77
I believe you. It seems no longer an option.  but it is for issue 68.
And this issue #77, I try to fix Personal view, do you have a way to reduce user view's row count and so user can use their view even it is only display 100?

[2021-07-01 20:30] SherryXLiu commented on #64
This information may help.
I have look at it with user, and it seems ADI issue, before Upload, it should show this and we did not see it in 12.2.10
![image](https://user-images.githubusercontent.com/85246030/124185864-83b53e00-da89-11eb-980e-1ff0bd720e11.png)

[2021-07-01 21:10] Haqueraz commented on #81
Program main query running from long time looks like a performance issue.
We are Tuning the query performance.

[2021-07-01 22:11] Haqueraz commented on #81
Hi Linda,
We have fixed the performance issue. Please check now.
![image](https://user-images.githubusercontent.com/84917836/124195032-350aa280-da8f-11eb-8700-44d37268932b.png)

Thanks
Razaul

[2021-07-02 06:01] amitjori commented on #64
Hi Team,

The above error is releated to ADI. Export issue was solved by setting the below profile options.

1. System Administrator Responsibility > Profile > System.
2. Query profile option BNE: Enable Simplified Create Document
3. Set profile BNE: Enable Simplified Create Document = No at Site level.
5. Clear the cache from Functional Administrator
4. Retest the issue.
5.
We are checking furthe

[2021-07-02 07:54] amitjori commented on #71
Hi Team,

Patch as been applied in INT instance.

![image](https://user-images.githubusercontent.com/85238919/124240814-a8052f00-db0a-11eb-88ad-14f605239445.png)

Regards,
Amit

[2021-07-02 11:03] suhas-deshpande commented on #74
Update -  I downloaded OEOH and OEOL workflows from production and applied in INT with the help of DBA. Retested the issue but still same error. I have not seen any update from Oracle on this SR and escalated it already over call.

[2021-07-02 11:15] lindamrigo commented on #81
extract running under 3 minutes now

[2021-07-02 11:15] #81 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, AkshayK247

[2021-07-02 12:07] hamiltonmark commented on #71
Thank you Amit.
I've re-tested Suppliers Report in INT 12.2.10 after patch.
See successful report below.
I will ask end users to re-test.
Thanks to Suhas and Akshay too for all your work!
I will let you know.
Mark

[INT Suppliers_Report_020721 using LASTUP DATE Results SUCCESS 02JUL2021 POST PATCH.txt](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6754442/INT.Suppliers_Report_020721.

[2021-07-02 12:20] SherryXLiu commented on #64
@amitjori Do you prefer to close this and open a new issue for load the file back function? I am ok to create a new issue.

[2021-07-02 12:27] hamiltonmark commented on #52
Thanks for all your work on this.
This ticket can be closed.
Mark

[2021-07-02 12:30] SherryXLiu opened #82 "Territory Manager upload exported file back to Oracle failed"
**Describe the bug**
A clear and concise description of what the bug is.
After issue 64 resolved, we are able to download a Territory to excel, but not able to upload same file back
**Instance Name**
Instance: INT

**Responsibility Name**
Responsibility:
![image](https://user-images.githubusercontent.com/85246030/124274496-57440500-db0f-11eb-887c-2483d408a3ca.png)

**Navigation**
Navigation:
Same

[2021-07-02 12:30] hamiltonmark commented on #71
This ticket can be closed
Thanks
Mark

[2021-07-02 12:31] SherryXLiu commented on #64
I have submit  issue # 82. So this issue can be closed Thanks

[2021-07-02 12:32] SherryXLiu commented on #82
Normally we should see below before upload the file back
![image](https://user-images.githubusercontent.com/85246030/124275045-fe28a100-db0f-11eb-8882-910b80591b54.png)

[2021-07-02 12:35] suhas-deshpande commented on #71
Thanks Mark for confirmation.

[2021-07-02 12:35] #71 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, suhas-deshpande, TinaGriffin, hamiltonmark, SomuSundaramM, amitjori

[2021-07-02 12:53] #64 closed, assigned to vinaytalasila, ashoksnapfj, Haqueraz, SomuSundaramM, amitjori

[2021-07-02 13:13] suhas-deshpande commented on #74
Oracle provided below action plan --
******************************************************************************************************************************
Hi Suhas,

Let's change our approach to this issue.
Please take the following actions to help us isolate the issue.

1) Go to the Release Sales Orders For Picking form and enter the following parameters.

Orders - All
Order Number - 939

[2021-07-02 14:26] hamiltonmark commented on #74
Uploaded xlsx of existing Scheduled Conc Jobs from PPQS1I.

Tina - Please review to see if we are missing a scheduled concurrent job that would need to run to fix this issue.

xlsx is filtered on these responsibilities:

![image](https://user-images.githubusercontent.com/85197361/124288947-be69b580-db1f-11eb-8625-fc81eaada35c.png)

[PPQS1I LIST OF SCHEDULED CONC JOBS AS OF 02JUL2021.xlsx](https://

[2021-07-02 15:52] suhas-deshpande commented on #74
@TinaGriffin @hamiltonmark  - Hi Tina, Mark,

As per Oracle action plan, we ran 'Generate All Rules" program. After this, I was able to do pick release successfully. Please see screenshot below. Kindly test and let us know if this is working as expected.

![image](https://user-images.githubusercontent.com/85028593/124299749-503be780-db4d-11eb-8961-df79d2626774.png)

[2021-07-02 15:59] suhas-deshpande commented on #65
@hamiltonmark  - Hi Mark, Below is the update from Oracle. As per Oracle, this is expected functionality. I have asked them further if we can run this for problematic receipts once or it has to be run individually for each record.

-------------------------------------------------------------------------
  | Hello Suhas,As per noteReceipt form error: Please account the receipt before updating Cust

[2021-07-02 16:33] Haqueraz commented on #52
Thank you Mark for confirmation.

[2021-07-02 16:33] #52 closed, assigned to vinaytalasila, Haqueraz, TinaGriffin, hamiltonmark, AkshayK247

[2021-07-02 16:44] TinaGriffin commented on #74
That's great news!  I'll go retest it now.

[2021-07-02 16:46] hamiltonmark commented on #65
Suhas - I will paste the following concerns into the SR...

Here are the scenarios for Daily Cash Receipts.
Each day we run 3 Lockbox Interface Jobs:
1.	JPMorgan Lockbox USD
2.	JPMorgan Lockbox CAD
3.	JPMorgan Lockbox Manual Credit Cards

These transactions total around 2500 transactions per day.
On average 10% (approx. 250) of these bank transactions cannot be applied to the correct invoice becau

[2021-07-02 17:22] Haqueraz commented on #77
Oracle solution offered to keep the results under 100 rows.
------------------------------------------------------

Thank you for clarifying the issue.
My recommendation is to recreate those searches in 12.2.10.
Please add additional filters (conditions) in the new searches to keep the results under 100 rows.
For example: One search for open opportunities only, one search for specific countries, e

[2021-07-02 17:27] SherryXLiu commented on #77
I got this answer for many times.
Now my question is How to make the existing views to be under 100 rows without rebuild them? The upgrade made them unusable. Can it be fixed by the upgrade?

[2021-07-02 17:33] TinaGriffin commented on #74
I have retested with a new order, Order # 939893.  This worked as expected now, the item booked with Awaiting Shipping, the Pick Release worked and changed the status to Picked.  The Ship Confirm worked and changed the status to Shipped.  I will downgrade this one to Medium just until the end user has a chance to test it and confirm the shipping process all works as she expects it and then we will

[2021-07-02 17:45] Haqueraz commented on #76
Hi Linda,
We have removed custom button "Sales Snapshot" from both  INT/STG Instance.
Please verify the same and let us know if you have any queries.
![image](https://user-images.githubusercontent.com/84917836/124311360-37263d00-db33-11eb-9ce1-d1a226a7e223.png)

Thanks
Razaul

[2021-07-02 17:51] lindamrigo commented on #76
Looks perfect. Thank you

[2021-07-02 17:51] #76 closed, assigned to vinaytalasila, Haqueraz, AkshayK247

[2021-07-02 18:09] SherryXLiu commented on #82
Christel is on vacation, she will be back on Tuesday. About Excel version, here is she told me
![image](https://user-images.githubusercontent.com/85246030/124313487-ed435400-db3e-11eb-87cd-4e6269d2b905.png)

[2021-07-02 18:10] Haqueraz commented on #77
Oracle already responded that "Row Count" is not a personalizable field this means can not change the value. so they suggested filtering the search criteria to reduce the count.

Now I put the same question to the oracle that you asked.

[2021-07-02 19:32] TinaGriffin commented on #7
I'm sure this has nothing to do with the issue, but I did notice that a comment was put into the package body....it appears from the retrofit as it is not there in 12.1.3.  It is actually confusing to have it there because it is not even for the same package name.  It should be removed.  You can compare it to 12.1.3 code and see it's not there.  I'm sure nothing to do with this issue but retrofitt

[2021-07-02 19:35] SherryXLiu commented on #77
I saw the row count is not changeable.
Oracle have not answered my question. If The personalize button dese not open next page, where I can do "_filtering the search criteria to reduce the count".  Can anyone show me?
Please see  user's view (acct sample  Coughenourg ).
Thanks

![image](https://user-images.githubusercontent.com/85246030/124320560-1ae1ca80-db4a-11eb-881c-98ce1632f8c0.png)

[2021-07-02 19:35] TinaGriffin commented on #7
In fact I looked through all the SOA packages and this was the only one that was retrofitted (according to the comments anyway).

[2021-07-02 20:09] SherryXLiu commented on #77
In fact, I am not sure this issue is related to the row number. For Canadian Mitchell1 Opportunities have less then 100 records, but none of these view can be opened
![image](https://user-images.githubusercontent.com/85246030/124323775-d9541e00-db4f-11eb-88bb-379b0a32d57a.png)

[2021-07-02 20:18] TinaGriffin commented on #74
FYI...that 'Generate All Rules' program is showing in our concurrent manager jobs as On Hold in INT...so it looks like maybe it's something we normally have running in the background but due to the upgrade the jobs were put on hold.

[2021-07-02 20:19] SherryXLiu commented on #77
records count
![image](https://user-images.githubusercontent.com/85246030/124324631-4e742300-db51-11eb-97be-d8ab0fde03eb.png)

[2021-07-02 20:23] hamiltonmark commented on #74
Tina
Is this the same Job below?
If so - it is scheduled in PROD to run each day at 10:30.

SCHEDULED
--
7/2/2021 10:30
1 DAYS - Apply at START of Prior Run
 7/1/2021 10:30
PBSOPS_INVENTORY
Warehouse Manager
WMSGRULE
Generate all enabled WMS rules

[2021-07-02 20:28] TinaGriffin commented on #74
It's called Generate All Rules...run by SYSADMIN.  Request ID 35321712 in INT 12.2.10

[2021-07-02 20:36] hamiltonmark commented on #74
ok - here it is in PROD
It shows on hold... but it is really - Pending Scheduled for 10:30 each day

![image](https://user-images.githubusercontent.com/85197361/124325987-aa3fab80-db53-11eb-9761-826d8571801d.png)

[2021-07-02 20:37] Haqueraz commented on #77
I understand your concern. we are working with oracle they are try to replicate the issue in internal system.
we will keep you updated.

[2021-07-02 21:36] Haqueraz commented on #74
I observed that many jobs were put on hold after clone and this is one of them.

I verified the same job and it were put on hold in 12.1.3 -INT on 04-Jan-2021.

[2021-07-05 05:22] suhas-deshpande commented on #65
Hi All below  is the update from Oracle -

*****************************************************************
Hello Suhas,

Thank you for the update.

Yes, you have to run Create Accounting for all problematic receipts
You can submit the create accounting for transaction from the submit request option to complete accounting for all transactions at once.

If you have any questions, please call Suppo

[2021-07-06 14:09] hamiltonmark commented on #65
Hello Suhas -

Thank you for the update.

You asked for
the navigation for the PBS US Receivables Cash Application User to run Create accounting. This doesn't look like a seeded AR Responsibility. We can't help on navigation with custom responsibility.

Please note you need to run Create accounting from AR responsibility.
For Cash receipt, you can submit the Create accounting for AR responsibility

[2021-07-06 14:19] lindamrigo commented on #50
Randy and Debbie have the same version of ADI
![Debbie Excel](https://user-images.githubusercontent.com/85238444/124615892-a3f74b00-de43-11eb-8f69-96e88ab26a80.jpg)
![Randy Excel](https://user-images.githubusercontent.com/85238444/124615903-a5c10e80-de43-11eb-8eee-150ea2cc3f23.jpg)

[2021-07-06 14:20] lindamrigo commented on #50
Debbie's screenshot is the first screenshot.
Randy's screenshot is the second (small one).

[2021-07-06 15:09] TinaGriffin commented on #82
I have found a similar sounding document on MOS "WebADI Create Document Process/Activity Hangs When Attempting To Create Document With: A system error has occurred (Doc ID 459536.1)"

It says to check this internet options setting...worth a try to see how the users is set:
Internet Options / Security Setting/ Scripting / Allow Status Bar Updates via Script set to Enabled.

[2021-07-06 15:37] SherryXLiu commented on #82
@TinaGriffin It seems only for Internet Explore, now we are in Edge

[2021-07-06 15:40] TinaGriffin commented on #82
Just because the note is for IE, doesn't mean the Internet Options wouldn't still need to be reviewed.

[2021-07-06 15:44] hamiltonmark commented on #65
Updated SR with these questions...

Thanks Chris
I just got out of a mtg with our Finance Group... Got a few questions...

1.  If we give the Cash Person the Create Accounting Job to run - they  will have the options to Transfer to GL and/or Post to GL.  Currently  only our Controller can do that.  Do we have to customize Create  Accounting by copying it and hiding the parameters?  or do you have

[2021-07-06 16:11] hamiltonmark opened #83 "INT 12.2.10 - Cannot Close Period JUN21"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:   dpqs2i

**Responsibility Name**
Responsibility: PBS US General Ledger

**Navigation**
Navigation:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected

[2021-07-06 16:15] hamiltonmark commented on #83
Period JUN21 could not be closed even thought there are no unposted items on the Unposted items report.

![image](https://user-images.githubusercontent.com/85197361/124633662-803c0100-de53-11eb-865e-2a5d829d514b.png)

![image](https://user-images.githubusercontent.com/85197361/124633800-a6fa3780-de53-11eb-88fc-c6e49c4a8550.png)

[2021-07-06 16:28] hamiltonmark commented on #83
Email from end user (Liz)...

Sorry I got it to close.  I transferred to GL again like the message said and it picked up more items.

[2021-07-06 16:28] hamiltonmark commented on #83
This ticket can be closed.

[2021-07-06 16:46] Haqueraz commented on #83
Thank you Mark for confirmation.

[2021-07-06 16:46] #83 closed, assigned to vinaytalasila, TinaGriffin, hamiltonmark

[2021-07-06 19:47] SherryXLiu commented on #82
![image](https://user-images.githubusercontent.com/85246030/124658247-880a9e00-de71-11eb-9157-845dc7fa09cb.png)

[2021-07-06 20:09] TinaGriffin opened #84 "INT Custom Trigger used for Shipping to Third Party Vendor is Inactive"
**Describe the bug**
We use a third party vendor to drop ship inventory for us.  Years ago a custom trigger was created that would insert into a staging table the data needed to be sent to the vendor when running the  "PBS Supplier Drop Ship Export" program is run.  I have researched this all day due to the fact that the tester had told me this is not working.  I finally found what I believe is th

[2021-07-06 20:23] TinaGriffin commented on #84
FYI...it is enabled in 12.2.10 STG.

[2021-07-06 21:50] Haqueraz commented on #84
Hi Tina,
We had disabled this trigger during the investigation of Backorder issue.

I have enabled this trigger Now. Thank you for heads-up

Thanks
Razaul

[2021-07-07 13:14] vinaytalasila commented on #68
Just an update.....Yesterday we uploaded log files to Oracle support for their review. Oracle says that their internal DEV team is working on this. We will follow-up with Oracle support on this tomorrow.

[2021-07-07 13:21] hamiltonmark commented on #65
Oracle Support is saying in SR 3-26328804901 : Cannot adjust Cash Receipt applied to wrong invoice number
that Cash Person needs to run Create Accounting when having errors applying cash.  We do not want Cash Person to be able to run – Create Accounting – because it allows to (1) Transfer to GL and (2) Post to GL.  SBS Corporate Controller should be the only one able to do this.

CUSTOMIZATION Req

[2021-07-07 14:00] lindamrigo commented on #80
This works the same in 12.1.3. Wants you to log back into production

[2021-07-07 14:03] TinaGriffin commented on #84
The user created a new order and tried this again using the US org this time and it still did not work.

[2021-07-07 14:05] TinaGriffin commented on #84
I do see data in the table the trigger inserts into from the past week for user "FAI-SDESHPANDE".  So it was working it appears as of 7/1/21...not sure what date it was disabled.

[2021-07-07 14:07] TinaGriffin commented on #74
The user testing this has confirmed that it is working now.  This can be closed.

[2021-07-07 14:30] suhas-deshpande commented on #74
Thanks Tina for confirmation. Will have this SR closed.

[2021-07-07 15:31] #74 closed, assigned to vinaytalasila, Haqueraz, suhas-deshpande, hamiltonmark

[2021-07-07 18:35] hamiltonmark opened #85 "INT 12.2.10 iPay Autocreate Remittances not being created after Autocreate Receipts **SR 3-26399695621 : IBY iPay Autocreate Receipts failing when testing"
**Describe the bug**
A clear and concise description of what the bug is.

**Instance Name**
Instance:  dpqs2i

**Responsibility Name**
Responsibility:  PBS US Receivables Cash Application

**Navigation**
Navigation:  See Word Doc with info

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and co

[2021-07-07 18:36] hamiltonmark commented on #85
See Word Doc for Screenshots and explanation of issue...

[INT 12.2.10 AUTOCREATE REMITTANCES NOT BEING CREATED.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6779409/INT.12.2.10.AUTOCREATE.REMITTANCES.NOT.BEING.CREATED.docx)

[2021-07-07 19:01] TinaGriffin commented on #84
I tested this in 12.2.10 STG and it worked there.  I started up Generate All Rules that was inactivated so it will run in the background thinking maybe that would fix it...but I retested in INT and it still doesn't work. The trigger is still not inserting the data into the table.

[2021-07-07 19:33] hamiltonmark commented on #65
We tested with SR Analyst suggestion but still did not work.
See the uploaded screenshots in the Word Doc.

[Still issue after Create Accounting.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6779684/Still.issue.after.Create.Accounting.docx)

We ran creating accounting for Standard Receipts.
Attempted to bring up an invoice on a receipt.

No matter which receipt we choose… gives

[2021-07-07 20:09] Haqueraz commented on #84
Hi Tina,

I created new order 939900 and able to see the records in  table PBS_SH_POP_THRDPRTY_SHIP_O_STG.
![image](https://user-images.githubusercontent.com/84917836/124821875-d92f9600-df34-11eb-96f6-90fc013c3bbe.png)

[2021-07-07 20:12] TinaGriffin commented on #84
I just entered order 939899 this afternoon and it's not there

[2021-07-07 20:17] TinaGriffin commented on #84
In STG the order that worked is 939883.

[2021-07-07 20:27] TinaGriffin commented on #84
I see you just copied my order and it's in the table...939901.  Are you running pick release and then ship confirm?  For this process to third party we don't run ship confirm.  The record should flow to the table after pick release.  Also, when doing pick release, choose Avnet instead of APN for the rule.

[2021-07-07 20:28] Haqueraz commented on #84
In INT triggers is working as expected .

created a new order 939901 by copy  939899

[2021-07-07 20:30] TinaGriffin commented on #84
I see you just copied my order and it's in the table...939901. Are you running pick release and then ship confirm? For this process to third party we don't run ship confirm. The record should flow to the table after pick release. Also, when doing pick release, choose Avnet instead of APN for the rule.

[2021-07-07 20:37] Haqueraz commented on #84
I did below steps:

- Copy the Order
- Save/Book order
- Release sales Order
![image](https://user-images.githubusercontent.com/84917836/124825202-eea6bf00-df38-11eb-84fd-e75e553a8a69.png).

[2021-07-07 20:47] TinaGriffin commented on #84
Ok, that's the right steps except change the Based on Rule to Avnet.

[2021-07-07 20:55] Haqueraz commented on #84
Worked  for Based on Rule to Avnet.
New order : 939902
![image](https://user-images.githubusercontent.com/84917836/124827139-5100bf00-df3b-11eb-99cc-a2f02c2a5940.png)
![image](https://user-images.githubusercontent.com/84917836/124827346-8e654c80-df3b-11eb-99d7-0571f6d88a98.png)

[2021-07-07 20:58] TinaGriffin commented on #84
Lol...well I guess you're going to have to come and work for us to enter our orders.  It's not working for me or Debbie Roberts.  Username ROBERTS. Can you try it with my username, GRIFFINT. I'll send you my pwd.

[2021-07-07 21:00] TinaGriffin commented on #84
can you send me your email address

[2021-07-07 21:02] Haqueraz commented on #84
Razaul.Haque@fujitsu.com

[2021-07-07 21:07] vinaytalasila commented on #85
Mark,

We will look into this and keep you posted.

Thanks
Vinay Talasila

[2021-07-07 21:16] TinaGriffin commented on #84
I see the order in the table with my user_id.  I don't understand why her and I can't get it to work.

[2021-07-07 22:52] hamiltonmark commented on #85
After opening up the batch of receipts - I noticed none of the receipts were assigned Receipt Numbers.
When Create AutoReceipts was run the parameter APPROVE was Yes... but looks like they need approved.
Wondering if the Approve Parameter is working.

![image](https://user-images.githubusercontent.com/85197361/124838201-5cacaf80-df54-11eb-9b93-8bdc4a639001.png)

[2021-07-08 03:39] vinaytalasila commented on #85
Mark,

Looked into this. Please find attached file for the details.
[#85-Details.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6781259/85-Details.docx)

Could you please review and and check whether the action plans works.

If action plan doesn't work then I will check whether there is any bug in the program in 12.2.10.

Thanks
Vinay Talasila

[2021-07-08 03:47] vinaytalasila commented on #82
Just an update...Amit will check whether we can install 'Professional Plus 2016' on Snap-On's jump server so that we can test it. If we face any issues or approval's to install then we will have a working session with the users and look into the setups.

Thanks
Vinay Talasila

[2021-07-08 03:58] vinaytalasila commented on #80
Just an update...Amit will try to remove and add the favorites again in INT instance and check whether it works or not. If it works then he will prepare a document how to do that so the individual users can do that in the non-production instances.

Thanks
Vinay Talasila

[2021-07-08 04:01] vinaytalasila commented on #77
@AkshayK247 : Could you please follow-up with Oracle support regarding this issue. Could you also append the SR # to this ticket issue description.

Thanks
Vinay Talasila

[2021-07-08 04:02] vinaytalasila commented on #68
@AkshayK247 : Could you please follow up with Oracle support regarding the SR.

Thanks
Vinay Talasila

[2021-07-08 04:57] amitjori commented on #80
Hi Team,

We have currently disabled the favourite option in all non-prod 12.2.10 instances Individual users will have to update/maintain  the the url's added under favourites.

Regards,
Amit

[2021-07-08 05:00] amitjori commented on #9
[Global Licensing Issue Fix document.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6781565/Global.Licensing.Issue.Fix.document.docx)

[2021-07-08 12:23] hamiltonmark commented on #85
Vinay
Thank you for your analysis on this.
Yes - I am finding the same.
End User is running Action Plan as we speak.

In 12.1.3 - we had changed the parameters for the 2 jobs.  Please see doc below.
We will need to do the same for 12.2.10.
Thanks
Mark

[Screenshots of Param Setup Changes for Autocreate Receipts and Remitt.docx](https://github.com/Fujitsu-America/Fujitsu-Repository/files/6784711/Sc